.main_inscrito {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_solicitacao {
    width: 389px;
    height: 47px;
    padding: 2px 2px 2px 2px;
    border-radius: 24px;
    background-color: var(--branco);
    box-sizing: border-box;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
    color: var(--verde_especial);
    text-align: center;
    line-height: normal;
    border-style: none;
    cursor: pointer;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bolder;
}
.btn_solicitacao:hover{
    transform: translateY(-2px);
    transition: 0.2s ease;
}
.sec {
    margin: 60px;
    border: var(--verde_especial) 2px solid;
    padding: 20px;
    border-radius: 24px;
    padding-bottom: 30px;
    background-color: var(--verde_especial);
    color: var(--branco);
}
.info_organizador p {
    margin: 10px;
    font-size: 17px;
    line-height: 1.5;

}
.info_organizador h1{
    font-size: 32px;
}
.info_organizador {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
    
}
.banner {
    border-radius: 15px;
    width: 100%;
}

@media(max-width: 600px){ 
    .btn_solicitacao {
        width: 300px;
    }
    .sec{
        width: 90%;
    }
    .banner {
        width: 100%;
    }
}
