<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADM Sport Agora</title>
    <link rel="stylesheet" href="/css/adm/styles.css">
    <link rel="stylesheet" href="/css/adm/home.css">
    <link rel="stylesheet" href="/css/adm/buscarUsuario.css">
    <link rel="stylesheet" href="/css/base.css">
</head>
<body>
    <%- include('../../partials/adm_navbar'); %>
    <main>
        <section>
            <form action="" class="buscarUso">
                <h3>Pesquisar Usuarios</h3>
                <aside class="imputis">
                    <input type="text" placeholder="Nome Usuario"/>
                    <input type="text" placeholder="Identificador (@)"/>
                    <button type="submit" class="btnBuscar">Buscar</button>
                </aside>
            </form>
        </section>
    </main>
    <footer class="fixarRodape">
        <p>&copy; 2025 Sport Agora</p>
    </footer>
</body>
</html>