<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Concluído!</title>
    <link rel="stylesheet" href="/css/adm/styles.css">
    <link rel="stylesheet" href="/css/adm/home.css">
    <link rel="stylesheet" href="/css/adm/cadasConcluido.css">
</head>
<body>
    <%- include('../../partials/adm_navbar'); %>
    <main>
        <section class="botoesCadasConcluido">
            <h2>CADASTRO CONCLUIDO!</h2>
            <h4>"nome do usuario"</h4>
            <aside>
                <a href="#"><button class="botaohome">Conectar-se a conta criada</button></a>
                <a href="/adm/novousuario"><button class="botaohome">Cadastrar novo usuario</button></a>
                <a href="/adm"><button class="botaohome">Voltar ao início</button></a>
            </aside>
        </section>
    </main>
    <%- include('../../partials/adm_footer'); %>
</body>
</html>