<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADM Sport Agora</title>
    <link rel="stylesheet" href="/css/adm/styles.css">
    <link rel="stylesheet" href="/css/adm/eventos.css">
    <link rel="stylesheet" href="/css/adm/descricaoEvento.css">
</head>
<body>
    <%- include('../../partials/adm_navbar'); %>
    <main>
        <a href="eventos.html"><button class="voltar-btn">Voltar</button></a>
        <section class="evento">
            <article>
                <h2>Evento - [Nome do Evento]</h2>
                <section class="btn-evento">
                    <button class="excluirevento">Excluir</button>
                    <button class="editarevento">Editar</button>
                </section>
            </article>
            <table class="evento-tabela">
                <thead>
                    <tr>
                        <th>Nome do Evento</th>
                        <th>Assunto</th>
                        <th>Categoria</th>
                        <th>Data incio</th>
                        <th>Horario</th>
                        <th>Data término</th>
                        <th>Descrição</th>            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="limite"></td>
                        <td class="limite"></td>
                        <td class="limite"></td>
                        <td class="limite"></td>
                        <td class="limite"></td>
                        <td class="limite"></td>
                        <td class="limite"></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <h2>Endereço do Evento</h2>
            <table class="evento-tabela">
                <thead>
                    <tr>
                        <th>Rua</th>
                        <th>Bairro</th>
                        <th>Cidade</th>
                        <th>Número</th>
                        <th>UF</th>
                        <th>CEP</th>
                        <th>Complemento</th>
                        <th>Referência</th>            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="limite"></td>
                        <td class="limite"></td>
                        <td class="limite"></td>
                        <td class="limite"></td>
                        <td class="limite"></td>
                        <td class="limite"></td>
                        <td class="limite"></td>
                        <td class="limite"></td>
                    </tr>
                </tbody>
            </table> 
            <br>
            <h2>Ingresso do Evento</h2>
            <table class="evento-tabela">
                <thead>
                    <tr>
                        <th>Nome ingresso</th>
                        <th>Valor</th>
                        <th>Quantidade</th>
                        <th>Tipo Ingresso</th>            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="limite"></td>
                        <td class="limite"></td>
                        <td class="limite"></td>
                        <td class="limite"></td>
                    </tr>
                </tbody>
            </table> 
        </section>
    </main>
    <%- include('../../partials/adm_footer'); %>
</body>
</html>