<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SportAgora</title>
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/post.css">
        <link rel="stylesheet" href="/css/erro.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/base.css">
        <script src="js/darkmodeswitch.js"></script>
        <link rel="icon" href="/imagens/SportAgora.png">
    </head>

<body>
    <section class="erroDireitaEsquerda">
        <section class="erroEsquerda">
            <h1>OH NÃO!</h1>
            <img src="../imagens/imgerro.png" alt="imagem de erro">
        </section>
        <section class="erroDireita">
            <h1>ERRO: <a href="#"class="corErro">000</a></h1>
            <h3>Parece que você encontrou um erro!</h3>
            <h3>Comunique este erro em: <a href="#" class="corErro">suporte@sportagora.com</a></h3>
            <aside class="voltarHome">
                <a href="/adm">
                    <img src="../imagens/adminLogo.png" alt="imagem de homeADM">
                    <a href="/adm" class="voltar">Voltar para a página inicial</a>
                </a>
            </aside>
        </section>
    </section>
</body>
</html>
