<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADM Sport Agora - Eventos</title>
    <link rel="stylesheet" href="/css/adm/eventos.css">
</head>
<body>
    <%- include('../../partials/adm_navbar'); %>
    <main>
        <section class="assuCate">
            <section class="assunto">
                <h2>Assunto</h2>
                    <form action="">
                    <% if(dados.assuntos) { %>
                        <% dados.assuntos.forEach(function(a) { %>
                            <label class="assuntoTopico"><%= a.assunto_nome %>
                                <input type="checkbox" value="<%= a.assunto_id%>">
                                <span class="checkmark"></span>
                            </label>
                        <% }); %>
                      <% } else { %>
                        <tr>
                          <td colspan="5">Nenhum assunto encontrado.</td>
                        </tr>
                      <% } %>
                    
                    <button class="assunto-btn-a">  Apagar - </button>
                    <hr>
                    </form> 
                    <form action="/adm/criar-assunto" method="POST">
                        <input type="text" name="novoAssunto" id="novoAssunto" placeholder="Adicione um Assunto" value="<%= dados.novoAssunto%>">
                        <input type="submit" class="assunto-btn" value="Adicionar +">
                    </form>
                    
                
            </section>
            <section class="categoria">
                <h2>Categoria</h2> 
                <form action="">
                    <label class="categoriaTopico">Grande
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="categoriaTopico">Pequeno
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="categoriaTopico">Médio
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="categoriaTopico">Talvez
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    
                    <button class="categoria-btn-a">Apagar -</button>
                    <hr>
                    <form action="">
                        <input type="text" name="novoCategoria" id="novoCategoria" placeholder="Adicione um Categoria">
                        <button class="categoria-btn">Adicionar +</button>
                    </form>
                </form>
            </section>
        </section>
        <section class="evento">
            <h2>Eventos</h2>
            <table class="evento-tabela">
                <thead>
                    <tr>
                        <th>Nome do Evento</th>
                        <th>Assunto</th>
                        <th>Categoria</th>
                        <th>Data incio</th>
                        <th>Horario</th>
                        <th>Data término</th>
                        <th>Descrição</th>            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="limite"><a href="descricaoEvento.html">-</a></td>
                        <td class="limite"><a href="descricaoEvento.html">-</a></td>
                        <td class="limite"><a href="descricaoEvento.html">-</a></td>
                        <td class="limite"><a href="descricaoEvento.html">-</a></td>
                        <td class="limite"><a href="descricaoEvento.html">-</a></td>
                        <td class="limite"><a href="descricaoEvento.html">-</a></td>
                        <td class="limite"><a href="descricaoEvento.html">-</a></td>
                    </tr>
                    <tr>
                        <td class="limite"><input type="text" name="" id="" value="-" readonly onclick="console.log(`gay`)"></td>
                        <td class="limite"><input type="text" name="" id="" value="-" readonly onclick="window.location.href='descricaoEvento.html'"></td>
                        <td class="limite"><input type="text" name="" id="" value="-" readonly></td>
                        <td class="limite"><input type="text" name="" id="" value="-" readonly></td>
                        <td class="limite"><input type="text" name="" id="" value="-" readonly></td>
                        <td class="limite"><input type="text" name="" id="" value="-" readonly></td>
                        <td class="limite"><input type="text" name="" id="" value="-" readonly></td>
                    </tr>
                    <tr>
                        <td class="limite"><input type="text" name="" id="" value="-" readonly></td>
                        <td class="limite"><input type="text" name="" id="" value="-" readonly></td>
                        <td class="limite"><input type="text" name="" id="" value="-" readonly></td>
                        <td class="limite"><input type="text" name="" id="" value="-" readonly></td>
                        <td class="limite"><input type="text" name="" id="" value="-" readonly></td>
                        <td class="limite"><input type="text" name="" id="" value="-" readonly></td>
                        <td class="limite"><input type="text" name="" id="" value="-" readonly></td>
                    </tr>
                </tbody>
                
            </table>
            <button class="evento-btn">+ Novo Evento</button>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Sport Agora</p>
    </footer>
</body>
</html>