<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADM Sport Agora</title>
    <link rel="stylesheet" href="/css/adm/styles.css">
    <link rel="stylesheet" href="/css/adm/home.css">
</head>
<body>
    <%- include('../../partials/adm_navbar'); %>
    <main>
        <section class="botoesHome">
            <a href="/usuarios"><button class="botaohome">Pesquisar Usuarios</button></a>
            <a href="/eventos"><button class="botaohome">Pesquisar Eventos</button></a>
        </section>
    </main>
    <footer class="fixarRodape">
        <p>&copy; 2025 Sport Agora</p>
    </footer>
</body>
</html>