<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postagem</title>
     <link rel="stylesheet" href="/css/adm/postagem.css">
</head>
<body>
    <section class="post-container">
        <form action="" class="form-geral-postagem">
            <section class="imagem-postagem">
                <label for="">Escolha sua imagem</label>
                <br>
                <input
                    type="file"
                    id=""
                    name=""
                    accept=".jpg, .jpeg, .png" />
            </section>
            <section class="dados-postagem">
                <form action="" class="form-postagem">
                    <label for="">Titulo da postagem</label>
                    <input type="text" name="" id="">
                    <label for="">Descrição da postagem</label>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                    <label for="">Data da postagem</label>
                    <input type="date" name="" id="">
                    <label for="">Local da postagem</label>
                    <input type="datetime-local" name="" id="">
                </form>
            </section>
        </form>
    </section>
</body>
</html>