<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADM Sport Agora</title>
    <link rel="stylesheet" href="/css/adm/styles.css">
    <link rel="stylesheet" href="/css/adm/usuarios.css">
    <script>
        function apagar() {
            alert("Em manutenção!");
        }
    </script>
</head>
<body>
    <%- include('../../partials/adm_navbar'); %>
    <main>
        <section class="endereco">
            <h2>Usuarios</h2>
            <table class="endereco-tabela">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>UserName</th>
                        <th>Tipo</th>
                        <th>Postagens</th>
                        <th>?</th>
                        <th>?</th>
                        <th>-</th>
                        <th>-</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>GABRIEL</td>
                        <td>bielzindoGrau</td>
                        <td>1 - UsuarioComum</td>
                        <td>207</td>
                        <td>-</td>
                        <td>-</td>
                        <td><button onclick="apagar()">Apagar</button></td>
                        <td><button onclick="apagar()">Penalizar</button></td>
                    </tr>
                </tbody>
            </table>
            <a href="novousuario"><button class="endereco-btn">+ Novo Usuario</button></a>
            </button>
        </section>
        <section class="postagens">
            <h2>Postagens</h2>
            <table class="postagens-tabela">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Data/hora</th>
                        <th>Titulo</th>
                        <th>Foto</th>
                        <th>Descrição</th>
                        <th>Conteudo</th>
                        <th>Categoria</th>
                        <th>Curtidas</th>
                        <th>Compartilhamentos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="limite">GABRIEL</td>
                        <td class="limite">09/05/2025 15:53</td>
                        <td class="limite">Corrida no Parque</td>
                        <td class="limite">https://www.sportagora.com.br/imagens/1.jpg</td>
                        <td class="limite">Resistro de momentos</td>
                        <td class="limite">Hoje eu sai com a minha namorada para corrermos no parque, a meta era correr 5km mas não deu 😂</td>
                        <td class="limite">humor/passatempo</td>
                        <td class="limite">142k</td>
                        <td class="limite">345</td>
                    </tr>
                </tbody>
            </table>
            
        </section>
        <section>
            <h2>Painel</h2>
            <p>N sei o q colocar aqui</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Sport Agora</p>
    </footer>
</body>
</html>