<link rel="stylesheet" href="/css/adm/styles.css">
<header class="navbar">
        <h1 class="logo">SportAgora</h1>
        <nav class="menu">
            <ul>
                <li><a href="/adm/home" class="active">Cliente</a></li>
                <li><a href="/adm/teste">Postagens</a></li>
                <li><a href="/adm/eventos">Eventos</a></li>
            </ul>
        </nav>
        <h2 class="user">UserADM <span>&#9662;</span></h2>
    </header>