<link rel="stylesheet" href="/css/adm/styles.css">
<header class="navbar">
        <h1 class="logo"><a href="/">SportAgora</a></h1>
        <nav class="menu">
            <ul>
                <li><a href="/adm/home">Home</a></li>
                <li><a href="/adm/usuarios">Usuários</a></li>
                <li><a href="/adm/eventos">Eventos</a></li>
                <li><a href="#">Locais</a></li>
            </ul>
        </nav>
        <section class="user-menu">
            <li><h2 class="user"><%= usuario.nome%> <span>&#9662;</span></h2>
                <ul>
                    <li><a href="/perfil"> Perfil</a></li>
                    <li><a href="/logout">Sair</a></li>
                </ul>
            </li>
        </section>
    </header>