<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos de Basquete</title>
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<section class="container-eventos">
    <article class="evento-box">
        <img src="/imagens/evento1.jpeg" alt="Imagem do Evento" class="evento-img">
        <article class="evento-status gratis">Grátis</article>
        <h2 class="evento-nome">Campeonato de Barueri de Basquete</h2>
        <p class="evento-detalhes">Barueri, SP<br><br>19/11/2024</p>
        <button class="evento-btn" onclick="location.href='/infoevento'">Participar</button>
    </article>

    <article class="evento-box">
        <img src="/imagens/evento2.jpeg" alt="Imagem do Evento" class="evento-img">
        <article class="evento-status pago">Pago</article>
        <h2 class="evento-nome">Campeonato de Barueri de Basquete</h2>
        <p class="evento-detalhes">Barueri, SP<br><br>19/11/2024</p>
        <button class="evento-btn" onclick="location.href='/infoevento'">Participar</button>
    </article>

    <article class="evento-box">
        <img src="/imagens/evento3.jpeg" alt="Imagem do Evento" class="evento-img">
        <article class="evento-status gratis">Grátis</article>
        <h2 class="evento-nome">Campeonato de Barueri de Basquete</h2>
        <p class="evento-detalhes">Barueri, SP<br><br>19/11/2024</p>
        <button class="evento-btn" onclick="location.href='/infoevento'">Participar</button>
    </article>

    <article class="evento-box">
        <img src="/imagens/evento4.jpeg" alt="Imagem do Evento" class="evento-img">
        <article class="evento-status pago">Pago</article>
        <h2 class="evento-nome">Campeonato de Barueri de Basquete</h2>
        <p class="evento-detalhes">Barueri, SP<br><br>19/11/2024</p>
        <button class="evento-btn" onclick="location.href='/infoevento'">Participar</button>
    </article>
</section>

</body>
</html>
