<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" co
    ntent="width=device-width, initial-scale=1.0">
    <title>Evento</title>
    <link rel="stylesheet" href="/css/eventoUsuario.css">
</head>
<body>
    <section class="evento-container">
        <article class="eventoInfo">
            <img src="/imagens/eventobanner.png" alt="Imagem do Evento" class="evento-img">
            <h2 class="evento-nome">Netshoes RUN</h2>
            <p class="evento-detalhes">Barueri, SP<br><br>19/11/2024</p>
            <aside>
                <i class="fi fi-rr-marker"></i>
            <span id="evento-local">Cidade - UF</span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fi fi-rr-calendar"></i>
          <span id="evento-data">Data completa</span>
            </aside>
            <h3><a href="#">Imprimir Ingresso</a></h3>
            <h3><a href="#">Fale com o produtor</a></h3>
            <h3><a href="#">Ver Pedido</a></h3>
        </article>
    </section>
    
</body>
</html>