<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" co
    ntent="width=device-width, initial-scale=1.0">
    <title>Evento</title>
    <link rel="stylesheet" href="/css/eventoUsuario.css">
</head>
<script>
    function mandarEmail(){
        window.alert("mande um email para: email@gmail.com");
    }
</script>
<body>
    
    
</body>
</html>