<div class="container">
    <div class="evento-grid">
        <div class="evento">
            <img src="imagens/eventobanner.png" alt="Imagem do evento">
            <div class="evento-name">Campeonato de Futebol</div>
            <div class="evento-info">
                <span>Barueri - SP</span>
                <button onclick="location.href='infoevento';" >Participar</button>
                <span>14/09/2024</span>
            </div>
        </div>
        <div class="evento">
            <img src="imagens/evento2.jpeg" alt="Imagem do evento">
            <div class="evento-name">Campeonato de Basquete</div>
            <div class="evento-info">
                <span>São Paulo - SP</span>
                <button onclick="location.href='infoevento';" >Participar</button>
                <span>19/11/2024</span>
            </div>
        </div>
        <div class="evento">
            <img src="imagens/evento3.jpeg" alt="Imagem do evento">
            <div class="evento-name">Evento de Skate</div>
            <div class="evento-info">
                <span>Carapicuiba - SP</span>
                <button onclick="location.href='infoevento';" >Participar</button>
                <span>09/12/2024</span>
            </div>
        </div>
        <div class="evento">
            <img src="imagens/evento4.jpeg" alt="Imagem do evento">
            <div class="evento-name">Campeonato de Ping Pong</div>
            <div class="evento-info">
                <span>Rio De Janeiro - RJ</span>
                <button onclick="location.href='infoevento';" >Participar</button>
                <span>11/01/2025</span>
            </div>
        </div>
    </div>
</div>