<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<section class="container-eventos">
    <div class="evento-box">
      <img src="/imagens/evento1.jpeg" alt="Imagem do Evento" class="evento-img">
      <div class="evento-status gratis">Grátis</div>
      <h2 class="evento-nome">Campeonato de Barueri de Basquete</h2>
      <p class="evento-detalhes">Barueri, SP<br><br>19/11/2024</p>
      <button class="evento-btn" onclick="location.href='/infoevento'">Participar</button>
    </div>
  
    <div class="evento-box">
      <img src="/imagens/evento2.jpeg" alt="Imagem do Evento" class="evento-img">
      <div class="evento-status pago">Pago</div>
      <h2 class="evento-nome">Campeonato de Barueri de Basquete</h2>
      <p class="evento-detalhes">Barueri, SP<br><br>19/11/2024</p>
      <button class="evento-btn" onclick="location.href='/infoevento'">Participar</button>
    </div>

    <div class="evento-box">
        <img src="/imagens/evento3.jpeg" alt="Imagem do Evento" class="evento-img">
        <div class="evento-status gratis">Grátis</div>
        <h2 class="evento-nome">Campeonato de Barueri de Basquete</h2>
        <p class="evento-detalhes">Barueri, SP<br><br>19/11/2024</p>
        <button class="evento-btn" onclick="location.href='/infoevento'">Participar</button>
      </div>
    
      <div class="evento-box">
        <img src="/imagens/evento4.jpeg" alt="Imagem do Evento" class="evento-img">
        <div class="evento-status pago">Pago</div>
        <h2 class="evento-nome">Campeonato de Barueri de Basquete</h2>
        <p class="evento-detalhes">Barueri, SP<br><br>19/11/2024</p>
        <button class="evento-btn" onclick="location.href='/infoevento'">Participar</button>
      </div>
  

  </section>