<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<section class="container-eventos">
    <section class="evento-box">
      <img src="/imagens/circuito natação.png" alt="Imagem do Evento" class="evento-img">
      <article class="evento-status gratis">Grátis</article>
      <h2 class="evento-nome">Evento natação de Barueri</h2>
      <p class="evento-detalhes">Barueri, SP<br><br>19/11/2024</p>
      <button class="evento-btn" onclick="location.href='/infoevento-natacao.ejs'">Participar</button>
    </section>
  
    <section class="evento-box">
      <img src="/imagens/circuito natação.png" alt="Imagem do Evento" class="evento-img">
      <article class="evento-status pago">Pago</article>
      <h2 class="evento-nome">Evento natação Barueri</h2>
      <p class="evento-detalhes">Barueri, SP<br><br>19/11/2024</p>
      <button class="evento-btn" onclick="location.href='/infoevento-natacao.ejs'">Participar</button>
    </section>

    <section class="evento-box">
        <img src="/imagens/circuito natação.png" alt="Imagem do Evento" class="evento-img">
        <article class="evento-status gratis">Grátis</article>
        <h2 class="evento-nome">Evento natação Barueri</h2>
        <p class="evento-detalhes">Barueri, SP<br><br>19/11/2024</p>
        <button class="evento-btn" onclick="location.href='/infoevento-natacao.ejs'">Participar</button>
    </section>
    
      <section class="evento-box">
        <img src="/imagens/circuito natação.png" alt="Imagem do Evento" class="evento-img">
        <article class="evento-status pago">Pago</article>
        <h2 class="evento-nome">Evento natação Barueri</h2>
        <p class="evento-detalhes">Barueri, SP<br><br>19/11/2024</p>
        <button class="evento-btn" onclick="location.href='/infoevento-natacao.ejs'">Participar</button>
      </section>
  
  </section>