<link rel="stylesheet" href="/css/carrosel.css">
<script defer src="/js/carrossel.js"></script>
<article class="carousel-container">
    <aside class="carousel">
        <% if(filtro_rapido) { %>
            <% filtro_rapido.forEach(function(f) { %>

            <aside class="carousel-item">
            <a href="/filtros_rapidos?id=<%=f.esporte_id%>">
            <img src="<%=f.esporte_foto%>" alt="<%=f.esporte_nome%>">
            <p><%=f.esporte_nome%></p>
            </a>
            </aside>

            <% }); %>
            <% } else { %>
            <p>Nenhum filtro rápido disponível.</p>
        <% } %>


        <!-- <aside class="carousel-item">
            <a href="/item-do-carrosel">
            <img src="/imagens/imgcorrida.png" alt="Corrida de Rua">
            <p>Corrida de Rua</p>
            </a>
        </aside>
        <aside class="carousel-item">
            <a href="/item-do-carrosel">
            <img src="/imagens/imgciclista.png" alt="Ciclismo">
            <p>Ciclismo</p>
            </a>
        </aside>
        <aside class="carousel-item">
            <a href="/item-do-carrosel">
            <img src="/imagens/imghandball.png" alt="Handebol">
            <p>Handebol</p>
            </a>
        </aside>
        <aside class="carousel-item">
            <a href="/item-do-carrosel">
            <img src="/imagens/imgbasquete.png" alt="Basquete">
            <p>Basquete</p>
            </a>
        </aside>
        <aside class="carousel-item">
            <a href="/item-do-carrosel">
            <img src="/imagens/imgnatacao.png" alt="Natação">
            <p>Natação</p>
            </a>
        </aside>
        <aside class="carousel-item">
            <a href="/item-do-carrosel">
            <img src="/imagens/imgfutebol.png" alt="Triathlon Brasil">
            <p>Futebol</p>
            </a>
        </aside>
        <aside class="carousel-item">
            <a href="/item-do-carrosel">
            <img src="/imagens/imgvolei.png" alt="Volei">
            <p>Volei</p>
            </a>
        </aside>
        <aside class="carousel-item">
            <a href="/item-do-carrosel">
            <img src="/imagens/imgsurf.png" alt="Surf">
            <p>Surf</p>
            </a>
        </aside>
        <aside class="carousel-item">
            <a href="/item-do-carrosel">
            <img src="/imagens/imgpingpong.png" alt="Ping Pong">
            <p>Ping pong</p>
            </a>
        </aside>
        <aside class="carousel-item">
            <a href="/item-do-carrosel">
            <img src="/imagens/imgskate.png" alt="Skate">
            <p>Skate</p>
            </a>
        </aside> -->
    </aside>
    <aside class="left-arrow carousel-arrow">&lt;</aside>
    <aside class="right-arrow carousel-arrow">&gt;</aside>
</article>