<article class="carousel-container">
    <aside class="carousel">
        <% if(filtro_rapido) { %>
            <% filtro_rapido.forEach(function(f) { %>
                <aside class="carousel-item">
                    <a href="/filtros-rapidos?id=<%=f.esporte_id%>">
                        <img src="<%=f.esporte_foto%>" alt="<%=f.esporte_nome%>">
                        <p><%=f.esporte_nome%></p>
                    </a>
                </aside>
            <% }); %>
        <% } else { %>
            <p>Nenhum filtro rápido disponível.</p>
        <% } %>
    </aside>
    <aside class="left-arrow carousel-arrow">&lt;</aside>
    <aside class="right-arrow carousel-arrow">&gt;</aside>
</article>
