<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<footer>
    <section class="footer-conteudo">
        <article class="footer-secao">
            <aside class="footer-bloco">
                <h4>Participe</h4>
                <ul>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/registro">Cadastre-se</a></li>
                    <li><a href="https://fiebedu.sharepoint.com/sites/INI2AT-G4-SportAgora/SitePages/crisisCommunicationHome.aspx">Central de Ajuda</a></li>
                    <li><a href="#">Termos de Compra</a></li>
                </ul>
            </aside>
            <aside class="footer-bloco">
                <h4>Organizadores</h4>
                <ul>
                    <li><a href="https://fiebedu.sharepoint.com/sites/INI2AT-G4-SportAgora/SitePages/crisisCommunicationHome.aspx">Sobre a Plataforma</a></li>
                    <li><a href="https://fiebedu.sharepoint.com/sites/INI2AT-G4-SportAgora/SitePages/crisisCommunicationHome.aspx">Suporte</a></li>
                </ul>
            </aside>
            <aside class="footer-bloco">
                <h4>Empresa</h4>
                <ul>
                    <li><a href="https://fiebedu.sharepoint.com/sites/INI2AT-G4-SportAgora/SitePages/Desc.aspx">Quem Somos</a></li>
                    <li><a href="https://fiebedu.sharepoint.com/sites/INI2AT-G4-SportAgora/SitePages/crisisCommunicationHome.aspx">Fale Conosco</a></li>
                    <li><a href="https://fiebedu.sharepoint.com/sites/INI2AT-G4-SportAgora/SitePages/crisisCommunicationHome.aspx">Política de Privacidade</a></li>
                </ul>
            </aside>
            <article class="footer-conecte">
                <h4>Conecte-se</h4>
                <aside class="redes-sociais">
                    <a href="https://www.instagram.com/sport__agora/" target="_blank">
                        <img src="/imagens/facebook.png" alt="Facebook">
                    </a>
                    <a href="https://www.instagram.com/sport__agora/" target="_blank">
                        <img src="/imagens/instagram.png" alt="Instagram">
                    </a>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                        <img src="/imagens/twitter.png" alt="Twitter">
                    </a>
                </aside>
            </article>
        </article>
    </section>
    <p class="copyright">©SportAgora. Nenhum direito reservado.</p>
</footer>
