<footer class="footer">
    <section class="footer-conteudo">
        <aside class="footer-bloco">
            <h4>Participe</h4>
            <ul>
                <li><a href="/login"><i class="fi fi-rr-sign-in-alt"></i> Login</a></li>
                <li><a href="/cadastro"><i class="fi fi-rr-user-add"></i> Cadastre-se</a></li>
                <li><a href="/planos"><i class="fi fi-rr-badge-check"></i> Ver Planos</a></li>
                <li><a href="/pratique"><i class="fi fi-rr-volleyball"></i> Pratique</a></li>
            </ul>
        </aside>

        <aside class="footer-bloco">
            <h4>Organizadores</h4>
            <ul>
                <li><a href="https://fiebedu.sharepoint.com/sites/INI2AT-G4-SportAgora/SitePages/Desc.aspx">Sobre a Plataforma</a></li>
            </ul>
        </aside>

        <aside class="footer-bloco">
            <h4>Empresa</h4>
            <ul>
                <li><a href="https://fiebedu.sharepoint.com/sites/INI2AT-G4-SportAgora/SitePages/Desc.aspx">Quem Somos</a></li>
                <li><a target="_blank" href="/pdf/politica_privacidade_sportagora.pdf">Política de Privacidade</a></li>
            </ul>
        </aside>

        <aside class="footer-bloco footer-conecte">
            <h4>Conecte-se</h4>
                <ul>
                    <li><a href="https://www.instagram.com/sport__agora/" target="_blank" aria-label="Instagram SportAgora"><i class="fi fi-rr-camera"></i> Instagram</a></li>
                </ul>
        </aside>
        </section>
    <aside class="footer-bottom">
        <p class="copyright">© SportAgora. Nenhum direito reservado.</p>
    </aside>
</footer>