<footer>
    <div class="footer-conteudo">
        <div class="footer-secao">
            <div class="footer-bloco">
                <h4>Participe</h4>
                <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Cadastre-se</a></li>
                    <li><a href="#">Central de Ajuda</a></li>
                    <li><a href="#">Termos de Compra</a></li>
                </ul>
            </div>
            <div class="footer-bloco">
                <h4>Organizadores</h4>
                <ul>
                    <li><a href="#">Sobre a Plataforma</a></li>
                    <li><a href="#">Suporte</a></li>
                </ul>
            </div>
            <div class="footer-bloco">
                <h4>Empresa</h4>
                <ul>
                    <li><a href="#">Quem Somos</a></li>
                    <li><a href="#">Fale Conosco</a></li>
                    <li><a href="#">Política de Privacidade</a></li>
                </ul>
            </div>
            <div class="footer-conecte">
                <h4>Conecte-se</h4>
                <div class="redes-sociais">
                    <a href="https://www.facebook.com" target="_blank">
                        <img src="/imagens/facebook.png" alt="Facebook">
                    </a>
                    <a href="https://www.instagram.com" target="_blank">
                        <img src="/imagens/instagram.png" alt="Instagram">
                    </a>
                    <a href="https://www.twitter.com" target="_blank">
                        <img src="/imagens/twitter.png" alt="Twitter">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <p class="copyright">©SportAgora. Nenhum direito reservado.</p>
</footer>
