<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>

<nav class="navbar">
    <div class="navbar-left">
        <img src="imagens/SportAgora.png" alt="Logo" class="logo">
        <span class="site-name">SportAgora</span>
    </div>
    <div class="navbar-center">
        <button class="nav-button">Eventos</button>
        <button class="nav-button">Pratique</button>
        <button class="nav-button">Organizador</button>
    </div>
    <div class="navbar-right">
        <div class="search-bar">
            <img src="/imagens/search.png" alt="Search" class="search-icon">
            <input type="text" placeholder="Busque por Esportes e muito mais...">
        </div>
        <button class="subscribe-button">Assine Sport+</button>
        <button class="login-button">
            <img src="/imagens/icon.png" alt="User" class="user-icon">
            <img src="/imagens/menu-burger.png" alt="Menu" class="menu-icon">
        </button>
    </div>
</nav>

<div id="menu-panel" class="menu-panel">
    <button class="panel-button">Cadastra-se</button>
    <button class="panel-button">Login</button>
    <hr>
    <button class="panel-button">Anuncie seu evento</button>
</div>

<script src="script.js"></script>