<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SportAgora</title>
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">


    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script defer src="/js/perfil.js"></script>
    <script defer src="/js/script.js"></script>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script defer src="/js/perfil.js"></script>
    <script src="js/darkmodeswitch.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
    <script src="/js/notify.js"></script>

</head>
<body>

<header>
    <nav class="navbar">
        <article class="navbar-left">
            <button class="hamburger-menu">
                <img src="/imagens/menu-burger.png" alt="Menu" class="menu-icon">
            </button>
            <a class="links-home" href="/">
                <img src="imagens/SportAgora.png" alt="Logo" class="logo">
                <span class="site-name">SportAgora
            </a>
        </article>
        <article class="navbar-center">
            <button class="nav-button" onclick="location.href='/eventos'">Eventos</button>
            <button class="nav-button" onclick="location.href='/pratique'">Pratique</button>
        </article>
        <article class="navbar-right">

            <!-- BARRA DE PESQUISA -->
            
    <article class="search-bar-container">
    <form action="/pesquisar" method="GET" class="search-bar">
        <img src="/imagens/search.png" alt="Search" class="search-icon">
        <input 
        type="text" 
        id="inputPesquisa" 
        placeholder="Busque por Esportes e muito mais..."
        oninput="mostrarSugestoes('inputPesquisa', 'sugestoes')"
        onkeydown="verificarEnter(event,'inputPesquisa')"
        >
        <span class="limpar" onclick="limparPesquisa('inputPesquisa', 'sugestoes')">×</span>
    </form>
    <ul id="sugestoes" class="painel-sugestoes oculto"></ul>
    </article>


         <% if (usuario && usuario.tipo.toLowerCase() == "comum") { %>
            <button class="subscribe-button" onclick="location.href='/planos'">Torne-se Organizador</button>
            <% } else {%>
                <button class="subscribe-button" onclick="location.href='/meus-eventos'"> Meus eventos</button>
        <% }%>

            <button class="login-button">
                <% if (usuario) { %>
                <img src="<%= usuario.foto %>" alt="User" class="user-icon">
                    <% } else {%>
                <img src="/imagens/Icon.png" alt="User" class="user-icon">
                <% }%>
                </span>
                <img src="/imagens/menu-burger.png" alt="Menu" class="menu-icon">
            </button>
            
            <article class="login-button-mobile">
                <a onclick="location.href='/perfil'">
                <% if (usuario) { %>
                    <img src="<%= usuario.foto %>" alt="User" class="user-icon">
                        <% } else {%>
                    <img src="/imagens/Icon.png" alt="User" class="user-icon">
                    <% }%>
                </a>
            </article>


            <button id="toggleDarkMode" class="dark-mode-button" onclick="toggleMode()" title="Alternar modo claro/escuro">
                <img src="/imagens/sol-brilho.png" alt="modo claro" class="brilho-icon">
                <img src="/imagens/lua-brilho.png" alt="modo escuro" class="brilho-icon">
              </button>


        </article>
    </nav>
</header>

<aside id="menu-panel" class="menu-panel">
    <% if (usuario) { %>
    <button class="panel-button" onclick="location.href='/perfil'">Perfil</button>
    <button class="panel-button" onclick="location.href='/editar-perfil'">Editar Perfil</button>
    <% if (usuario.tipo == "administrador") {%>
        <button class="panel-button" onclick="location.href='/adm'">Admin</button>
    <%}%>
    <button class="panel-button" onclick="location.href='/logout'">Sair</button>

    <% } else { %>
    <button class="panel-button" onclick="location.href='/cadastro'">Cadastre-se</button>
    <button class="panel-button" onclick="location.href='/login'">Login</button>

    <button class="panel-button" onclick="verNotificacoes()" title="Notificações">
        <article class="icon-wrapper">
            <img src="/imagens/botao-de-notificacoes.png" alt="Notificações" class="icone-notificacao">
            <span id="notificacao-badge"></span>
        </article>
        <span class="texto-claro-escuro" id="modoTexto">Notificações</span>
    </button>

    <% } %>
    <hr>
    <button class="panel-button" onclick="location.href='/login'">Anuncie seu evento</button>   
</aside>

<!-- mobile -->

<section id="mobile-menu" class="mobile-menu">
    <button class="mobile-nav-button" onclick="location.href='/eventos'">       
         <span class="texto-claro-escuro" id="modoTexto">Eventos</span>
        </button>

    <button class="mobile-nav-button" onclick="location.href='/pratique'">
        <span class="texto-claro-escuro" id="modoTexto">Pratique</span>
    </button>
    <hr>
    <button class="mobile-nav-button" onclick="location.href='/login'">
        <span class="texto-claro-escuro" id="modoTexto">Anuncie Seu Evento</span>
    </button>
    <hr>    
    <button id="toggleDarkMode" class="dark-mode-button-mobile" onclick="toggleMode()" title="Alternar modo claro/escuro">
        <div class="icon-wrapper">
          <img src="/imagens/sol-brilho.png" alt="modo claro" class="brilho-icon light-icon">
          <img src="/imagens/lua-brilho.png" alt="modo escuro" class="brilho-icon dark-icon">
        </div>
        <span class="texto-claro-escuro" id="modoTexto">Claro/Escuro</span>
      </button>
    <hr>
    <% if (usuario) { %>
        <button class="mobile-nav-button" onclick="location.href='/perfil'">
            <span class="texto-claro-escuro" id="modoTexto">Perfil</span>
        </button>

        <button class="mobile-nav-button" onclick="verNotificacoes()" title="Notificações">
            <article class="icon-wrapper">
                <img src="/imagens/botao-de-notificacoes.png" alt="Notificações" class="icone-notificacao-mobile">
                <span id="notificacao-badge1" class="badge-notificacao-bolinha"></span> <!-- Ícone de notificação -->
            </article>
            <span class="texto-claro-escuro" id="modoTexto">Notificações</span>
        </button>

        <button class="mobile-nav-button" onclick="location.href='/editar-perfil'">
            <span class="texto-claro-escuro" id="modoTexto">Editar Perfil</span>
        </button>
        <button class="mobile-nav-button" onclick="location.href='/logout'">
            <span class="texto-claro-escuro" id="modoTexto">Sair</span>
        </button>
        <% } else { %>
        <button class="mobile-nav-button" onclick="location.href='/cadastro'">
            <span class="texto-claro-escuro" id="modoTexto">Cadastre-se</span>
        </button>
        <button class="mobile-nav-button" onclick="location.href='/login'">
            <span class="texto-claro-escuro" id="modoTexto">Login</span>
        </button>
        <% } %>
</section>

<article class="mobile-search-bar">
    <form action="/pesquisar" type="GET" class="search-bar-mobile">
      <img src="/imagens/search.png" alt="Search" class="search-icon">
      <input 
        type="text" 
        id="inputPesquisaMobile" 
        placeholder="Busque por Esportes e muito mais..."
        oninput="mostrarSugestoes('inputPesquisaMobile', 'sugestoesMobile')"
        onkeydown="verificarEnter(event,'inputPesquisaMobile')"
      >
      <span class="limpar" onclick="limparPesquisa('inputPesquisaMobile', 'sugestoesMobile')">×</span>
    </form>
    <ul id="sugestoesMobile" class="painel-sugestoes oculto"></ul>
  </article>

<section class="mobile-assinatura">
    <button class="mobile-subscribe-button" onclick="location.href='/planos'">Assine Sport+</button>
</section>

<script src="script.js"></script>

</body>
</html>
