
<!-- NAVBAR -->

<nav class="navbar">
    <section class="logo">
        <a href="home">
        <img src="/imagens/SportAgora.png" alt="Logo">
        </a>
    </section>

    <section class="section"></section>
    <ul class="nav-links">
        <li><a href="home">Inicio</a></li>
        <li><a href="eventos">Eventos</a></li>
        <li><a href="pratique">Pratique</a></li>
    </ul>

    <section class="section"></section>
    <button class="login-button">
        <a href="login" class="login-button">
            Login
            <img src="/imagens/Icon.png" alt="Login Icon">
        </a>
    </button>

</nav>

<!-- SUB NAV -->

<section class="subnav-container">

<section class="subnav">
    <a  href="planos" class="subscribe-button">Assinar Sport+</a> 
</section>

</section>