<nav class="header">
    
    <button class="home">
        <a href="/home">   <img src="http://localhost:3000/imagens/SportAgora.png" alt="SportAgora"></a>
    </button>

    <ul>

        <li> <button class="Início"> 
            <a href="/home">Início</a>
        </button>  </li>

        <li> <button class="eventos">
            <a href="/eventos">Eventos</a></button>
        </button></li>

        <li> <button class="pratique"> 
            <a href="/pratique">Pratique</a> </button></li>
        </button>

    </ul>
    
    <button class="login">
        <a href="/login"> Login</a>     
        <img src='http://localhost:3000/imagens/Icon.png' alt="Login">
    </button>

</nav>

<nav class="header_subscription">
    <a href="/planos">Assinar Sport+</a>
</nav>