<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SportAgora</title>
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script defer src="/js/perfil.js"></script>
</head>
<body>

<header>
    <nav class="navbar">
        <article class="navbar-left">
            <button class="hamburger-menu">
                <img src="/imagens/menu-burger.png" alt="Menu" class="menu-icon">
            </button>
            <a class="links-home" href="/">
                <img src="imagens/SportAgora.png" alt="Logo" class="logo">
                <span class="site-name">SportAgora
            </a>
        </article>
        <article class="navbar-center">
            <button class="nav-button" onclick="location.href='/'">Início</button>
            <button class="nav-button" onclick="location.href='/eventos'">Eventos</button>
            <button class="nav-button" onclick="location.href='/pratique'">Pratique</button>
            <button class="nav-button" onclick="location.href='/organizador'">Organizador</button>
        </article>
        <article class="navbar-right">
            <article class="search-bar" onclick="pesquisar()">
                <img src="/imagens/search.png" alt="Search" class="search-icon" onclick="pesquisar()">
                <input type="text" placeholder="Busque por Esportes e muito mais..." onclick="pesquisar()">
            </article>   
            <button class="subscribe-button" onclick="location.href='/planos'">Assine Sport+ </button>
            <button class="login-button">
                <img src="/imagens/Icon.png" alt="User" class="user-icon">
                <% if (usuario) { %>
                    <p><%= usuario.nome %></p>
                    <% } %></span>
                <img src="/imagens/menu-burger.png" alt="Menu" class="menu-icon">
            </button>
            <article class="login-button-mobile">
                <a onclick="location.href='/login'">
                    <img src="/imagens/Icon.png" alt="User" class="user-icon">
                </a>
            </article>
        </article>
    </nav>
</header>

<aside id="menu-panel" class="menu-panel">
    <% if (usuario) { %>
    <button class="panel-button" onclick="location.href='/perfil'">Perfil</button>
    <button class="panel-button" onclick="location.href='/logout'">Sair</button>
    <% } else { %>
    <button class="panel-button" onclick="location.href='/cadastro'">Cadastra-se</button>
    <button class="panel-button" onclick="location.href='/login'">Login</button>
    <% } %>

    <hr>
    <button class="panel-button" onclick="location.href='/login'">Anuncie seu evento</button>
    <hr>
    <button class="panel-button" onclick="toggleMode()">Claro/Escuro</button>
</aside>

<section id="mobile-menu" class="mobile-menu">
    <button class="mobile-nav-button" onclick="location.href='/'">Início</button>
    <button class="mobile-nav-button" onclick="location.href='/eventos'">Eventos</button>
    <button class="mobile-nav-button" onclick="location.href='/pratique'">Pratique</button>
    <button class="mobile-nav-button" onclick="location.href='/organizador'">Organizador</button>
</section>

<article class="mobile-search-bar">
    <article class="search-bar-mobile">
        <img src="/imagens/search.png" alt="Search" class="search-icon">
        <input type="text" placeholder="Busque por Esportes e muito mais...">
    </article>   
</article>

<section class="mobile-assinatura">
    <button class="mobile-subscribe-button" onclick="location.href='/planos'">Assine Sport+</button>
</section>

<script src="script.js"></script>

</body>
</html>
