<link rel="stylesheet" href="/css/post.css">
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<section class="secao-boxes">
    <div class="box">
        <img src="/imagens/evento1.jpeg" alt="Imagem do post" class="imagem-post">
        <div class="conteudo-box">
            <div class="informacoes-usuario">
                <a href="/perfilex" class="link-usuario">
                    <img src="/imagens/pessoa1.jpg" alt="Foto do usuário" class="foto-usuario">
                </a>
                <h3 class="nome-post">Campeonato de Barueri de Futebol</h3>
            </div>
            <p class="dados-post">Danzx • 19/08/2024 • 18:35</p>
        </div>
        <a href="/infopost" class="link-post"></a>
    </div>

    <div class="box">
        <img src="/imagens/evento2.jpeg" alt="Imagem do post" class="imagem-post">
        <div class="conteudo-box">
            <div class="informacoes-usuario">
                <a href="/perfilex" class="link-usuario">
                    <img src="/imagens/pessoa2.png" alt="Foto do usuário" class="foto-usuario">
                </a>
                <h3 class="nome-post">Campeonato de Barueri de Basquete</h3>
            </div>
            <p class="dados-post">Danzx • 19/08/2024 • 18:35</p>
        </div>
        <a href="/infopost" class="link-post"></a>
    </div>

    <div class="box">
        <img src="/imagens/evento3.jpeg" alt="Imagem do post" class="imagem-post">
        <div class="conteudo-box">
            <div class="informacoes-usuario">
                <a href="/perfilex" class="link-usuario">
                    <img src="/imagens/pessoa3.png" alt="Foto do usuário" class="foto-usuario">
                </a>
                <h3 class="nome-post">Corrida de Skate</h3>
            </div>
            <p class="dados-post">Danzx • 19/08/2024 • 18:35</p>
        </div>
        <a href="/infopost" class="link-post"></a>
    </div>

    <div class="box">
        <img src="/imagens/evento4.jpeg" alt="Imagem do post" class="imagem-post">
        <div class="conteudo-box">
            <div class="informacoes-usuario">
                <a href="/perfilex" class="link-usuario">
                    <img src="/imagens/pessoa4.png" alt="Foto do usuário" class="foto-usuario">
                </a>
                <h3 class="nome-post">Campeonato de Ping Pong</h3>
            </div>
            <p class="dados-post">Danzx • 19/08/2024 • 18:35</p>
        </div>
        <a href="/infopost" class="link-post"></a>
    </div>
</section>
