<link rel="stylesheet" href="/css/post.css">

<section class="secao-boxes">
    <div class="box">
        <img src="/imagens/evento1.jpeg" alt="Imagem do post" class="imagem-post">
        <div class="conteudo-box">
            <div class="informacoes-usuario">
                <a href="/perfilex" class="link-usuario">
                    <img src="/imagens/pessoa1.jpg" alt="Foto do usuário" class="foto-usuario">
                </a>
                <h3 class="nome-post">Campeonato de Barueri de Futebol</h3>
            </div>
            <p class="dados-post">Danzx • 19/08/2024 • 18:35</p>
        </div>
        <a href="/infopost" class="link-post"></a>
    </div>

    <div class="box">
        <img src="/imagens/evento2.jpeg" alt="Imagem do post" class="imagem-post">
        <div class="conteudo-box">
            <div class="informacoes-usuario">
                <a href="/perfilex" class="link-usuario">
                    <img src="/imagens/pessoa2.png" alt="Foto do usuário" class="foto-usuario">
                </a>
                <h3 class="nome-post">Campeonato de Barueri de Basquete</h3>
            </div>
            <p class="dados-post">Danzx • 19/08/2024 • 18:35</p>
        </div>
        <a href="/infopost" class="link-post"></a>
    </div>

    <div class="box">
        <img src="/imagens/evento3.jpeg" alt="Imagem do post" class="imagem-post">
        <div class="conteudo-box">
            <div class="informacoes-usuario">
                <a href="/perfilex" class="link-usuario">
                    <img src="/imagens/pessoa3.png" alt="Foto do usuário" class="foto-usuario">
                </a>
                <h3 class="nome-post">Corrida de Skate</h3>
            </div>
            <p class="dados-post">Danzx • 19/08/2024 • 18:35</p>
        </div>
        <a href="/infopost" class="link-post"></a>
    </div>

    <div class="box">
        <img src="/imagens/evento4.jpeg" alt="Imagem do post" class="imagem-post">
        <div class="conteudo-box">
            <div class="informacoes-usuario">
                <a href="/perfilex" class="link-usuario">
                    <img src="/imagens/pessoa4.png" alt="Foto do usuário" class="foto-usuario">
                </a>
                <h3 class="nome-post">Campeonato de Ping Pong</h3>
            </div>
            <p class="dados-post">Danzx • 19/08/2024 • 18:35</p>
        </div>
        <a href="/infopost" class="link-post"></a>
    </div>
</section>
