<link rel="stylesheet" href="/css/post.css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<section class="secao-boxes">
    <section class="box">
        <a href="/infopost" class="link-post">
        <img src="/imagens/evento1.jpeg" alt="Imagem do post" class="imagem-post">
        <article class="conteudo-box">
            <article class="informacoes-usuario">
                <a href="/perfilex" class="link-usuario">
                    <img src="/imagens/pessoa1.jpg" alt="Foto do usuário" class="foto-usuario">
                </a>
                <a href="/infopost" class="link-post">
                <h3 class="nome-post">Campeonato de Barueri de Futebol</h3>
            </article>
            <p class="dados-post">Kawan • 19/08/2024 • 18:35</p>
        </article>
    </a>
    </a>
    </section>
    <section class="box">
        <a href="/infopost" class="link-post">
        <img src="/imagens/evento2.jpeg" alt="Imagem do post" class="imagem-post">
        <article class="conteudo-box">
            <article class="informacoes-usuario">
                <a href="/perfilex" class="link-usuario">
                    <img src="/imagens/pessoa2.png" alt="Foto do usuário" class="foto-usuario">
                </a>
                <a href="/infopost" class="link-post">
                <h3 class="nome-post">Campeonato de Barueri de Basquete</h3>
            </article>
            <p class="dados-post">Cerri • 19/08/2024 • 18:35</p>
        </article>
    </a>
    </a>
    </section>

    <section class="box">
        <a href="/infopost" class="link-post">
        <img src="/imagens/evento3.jpeg" alt="Imagem do post" class="imagem-post">
        <article class="conteudo-box">
            <article class="informacoes-usuario">
                <a href="/perfilex" class="link-usuario">
                    <img src="/imagens/pessoa3.png" alt="Foto do usuário" class="foto-usuario">
                </a>
                <a href="/infopost" class="link-post">
                <h3 class="nome-post">Melhores manobras do skate</h3>
            </article>
            <p class="dados-post">Carol • 19/08/2024 • 18:35</p>
        </article>
    </a>
    </a>
    </section>

    <section class="box">
        <a href="/infopost" class="link-post">
        <img src="/imagens/evento4.jpeg" alt="Imagem do post" class="imagem-post">
        <article class="conteudo-box">
            <article class="informacoes-usuario">
                <a href="/perfilex" class="link-usuario">
                    <img src="/imagens/pessoa4.png" alt="Foto do usuário" class="foto-usuario">
                </a>
                <a href="/infopost" class="link-post">
                <h3 class="nome-post">Campeonato de Ping Pong</h3>
            </article>
            <p class="dados-post">Selena • 19/08/2024 • 18:35</p>
        </article>
    </a>
</a>
    </section>
</section>
