<article class="tab">
    <article class="post">
        <button onclick="window.location.href='infopost'" class="invisible-button"></button>
        <img class="post-image" src="/imagens/futebol.png" alt="Imagem do Post 1">

        <article class="post-detalhes">
            <img class="user-image" src="/imagens/pessoa1.jpg" alt="Usuário Kawan">
            <article>
                <h3>ELE FOI O MELHOR JOGADOR DE FUTEBOL DA HISTÓRIA...</h3>
                <p class="user-info">Kawan · 2 horas atrás</p>
            </article>
        </article>

    </article>
    <article class="post">
        <button onclick="window.location.href='infopost'" class="invisible-button"></button>
        <img class="post-image" src="/imagens/basquete.png" alt="Imagem do Post 2">
        <article class="post-detalhes">
            <img class="user-image" src="/imagens/pessoa3.png" alt="Usuário Ana">
            <article>
                <h3>O BASQUETE FEMININO ESTÁ CRESCENDO...</h3>
                <p class="user-info">Ana · 3 horas atrás</p>
            </article>
        </article>
    </article>

    <article class="post">
        <button onclick="window.location.href='infopost'" class="invisible-button"></button>
        <img class="post-image" src="/imagens/skaete.png" alt="Imagem do Post 3">
        <article class="post-detalhes">
            <img class="user-image" src="/imagens/pessoa2.png" alt="Usuário Kaique">
            <article>
                <h3>AS MELHORES MANOBRAS DO SKATE DE TODAS!</h3>
                <p class="user-info">Kaique · 4 horas atrás</p>
            </article>
        </article>
    </article>

    <article class="post">
        <button onclick="window.location.href='infopost'" class="invisible-button"></button>
        <img class="post-image" src="/imagens/baseball.png" alt="Imagem do Post 4">
        <article class="post-detalhes">
            <img class="user-image" src="/imagens/pessoa4.png" alt="Usuário Roberta">
            <article>
                <h3>BASEBALL É UM ÓTIMO ESPORTE PARA CRIANÇAS...</h3>
                <p class="user-info">Roberta · 5 horas atrás</p>
            </article>
        </article>
    </article>
</article>