.botoesCadasConcluido{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    & h4{
        color: var(--principal);
        margin-top: 5px;
        font-size: 18px
    }
}
