.evento {
    margin-top: 20px;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.evento h2 {
    color: #4a4a4a;
    margin-bottom: 15px;
}

.evento-tabela {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

.evento-tabela th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 14px;
}

.evento-tabela td {
    border: 1px solid #ddd;
    text-align: left;
    font-size: 14px;
}

.evento-tabela td input[type="text"] {
    border: 0;
    padding: 8px;
    width: 100%;
    height: 100%;
}

.evento-tabela td input[type="text"]:focus {
    border: 0;
    outline: none;
    border: 1px solid #fff; /* Cor verde */
    box-shadow: 0 0 1px rgba(76, 175, 80, 0.5); /* Sombra suave */
}

.evento-tabela td a {
    text-decoration: none;
}

.evento-tabela th {
    background-color: #e3e3d5;
    color: #4a4a4a;
    font-weight: bold;
}

.evento-tabela tr:nth-child(even) {
    background-color: #f9f9f9;
}

.evento-tabela tr:hover {
    background-color: #f1f1f1;
}

.evento-btn {
    background-color: #216F27;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.evento-btn:hover {
    background-color: #184d1b;
}

/* aaaaa */

.insertTable{
    background-color: #f5f5e9;
    border: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.esporte {
    & hr {
        border: 1px solid #ddd;
        height: 1px; 
        background-color: black; 
        margin: 10px 0 10px 0; 
    }

    & h2 {
        margin: 1px 1px 12px 1px;
    }
    
    & input[type="text"]{
        font-size: 17px;
        margin-bottom: 10px;
        
    }
}

.esporte-btn {
    background-color: #216F27;
    color: white;
    border: none;
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.esporte-btn-a{
    background-color: #c51717;
    color: white;
    border: none;
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;   
}    


.esporte-btn:hover {
    background-color: #184d1b;
}
.esporte form{
    display: flex;
    flex-direction: column;
}

.esporteTopico {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .esporteTopico input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .esporteTopico:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .esporteTopico input:checked ~ .checkmark {
    background-color: #216F27;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .esporteTopico input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .esporteTopico .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
