@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css');


*{
    margin:0px;
    padding:0px;
    font-family: "Montserrat", sans-serif;
}

:root {
    --erro:#812222;
    --principal: #D72638;
    --principal_escura: #A31C29;
    --principal_claro: #F0545E;
    --complementar: #FFC300;
    --complementar2: #B8860B;
    --branco: #f1f1f1;
    --preto: #1b1b1b; 
    --cinza: #6C757D;
    --cinza_escuro: #333;
    --cinza_claro: #929292;
    --background: #E6ECF0;
    --a: #272727;

    --principal_claro_transparente: #b8343d93;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background);
    margin: 0;
    padding: 0;
}
header {
    background-color: #4a4a4a;
    color: var(--branco);
    padding: 10px 20px;
    text-align: center;
    list-style:none;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--principal);
    padding: 10px 20px;
    border-bottom: 2px solid var(--branco);
}

.logo {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: var(--principal);
    font-weight: bold;
}

.menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu ul li {
    margin: 0 15px;
}

.menu ul li a {
    text-decoration: none;
    color: var(--branco);
    font-weight: bold;
    font-size: 14px;
}

.menu ul li a:hover {
    color: var(--complementar2);
    font-weight: bolder;
}

.user {
    font-size: 14px;
    color: var(--branco);
    font-weight: bold;
    cursor: pointer;
}

.user-menu {
    background-color: var(--principal);
    border: none;
}

.user-menu li{
    position:relative;
    float:left;
    text-decoration: none;
}
.user-menu li a{color:var(--cinza_escuro); text-decoration:none; padding:5px 10px; display:block;}

.user-menu li a:hover{
    background: var(--principal);
    color: var(--branco);
    text-shadow:0px 0px 5px var(--branco);
}
.user-menu li ul{
    position:absolute;
    top:25px;
    right: 0px;
    padding: 0;
    background-color:var(--branco);
    display:none;
}
.user-menu li:hover ul, li.over ul{display:block;}
.user-menu li ul li{
    border:1px solid var(--cinza_claro);
    display:block;
    width:150px;
}

main {
    padding: 40px;
    padding-left: 80px;
    padding-right: 80px;
}
.tituloLogo{
    color: var(--principal);
    font-size: 100px;
    text-align: center;
}
section {
    margin-bottom: 20px;
    padding: 15px;
    background-color: var(--branco);
    border: 1px solid #ddd;
    border-radius: 5px;
}
h2 {
    color: var(--cinza_escuro);
}
footer {
    text-align: center;
    padding: 10px;
    background-color: var(--principal_escura);
    color: white;
    bottom: 0;
    width: 98.5%;
}
p {
    margin: 5px 0;
}
strong {
    color: #333;
}

/* sla */

.endereco {
    margin-top: 20px;
    padding: 15px;
    background-color: var(--branco);
    border: 1px solid var(--cinza_claro);
    border-radius: 5px;
}

.endereco h2 {
    color: var(--cinza_escuro);
    margin-bottom: 15px;
}

.endereco-tabela {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

.endereco-tabela th, .endereco-tabela td {
    border: 1px solid var(--preto);
    padding: 8px;
    text-align: left;
    font-size: 14px;
}

.endereco-tabela th {
    background-color: var(--background);
    color: var(--cinza_escuro);
    font-weight: bold;
}

.endereco-tabela tr:nth-child(even) {
    background-color: var(--cinza_claro);
}

.endereco-tabela tr:hover {
    background-color: var(--cinza_claro);
}

.endereco-btn {
    background-color: var(--principal);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.endereco-btn:hover {
    background-color: var(--principal_escura);
}

/* sla dnv */

.postagens {
    margin-top: 20px;
    padding: 15px;
    background-color: var(--branco);
    border: 1px solid var(--cinza_claro);
    border-radius: 5px;
}

.postagens h2 {
    color: var(--cinza_escuro);
    margin-bottom: 15px;
}

.postagens-tabela {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

.postagens-tabela th, .postagens-tabela td {
    border: 1px solid var(--branco);
    padding: 8px;
    text-align: left;
    font-size: 14px;
}

.postagens-tabela th {
    background-color: var(--branco);
    color: var(--cinza_escuro);
    font-weight: bold;
}

.postagens-tabela tr:nth-child(even) {
    background-color: var(--branco);
}

.postagens-tabela tr:hover {
    background-color: var(--branco);
}

.limite {
    max-width: 150px; /* ajuste como quiser */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }