@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css');


*{
    margin:0px;
    padding:0px;
    font-family: "Montserrat", sans-serif;
}

:root {
    --verde_especial: #339933;
    --preto: #1b1b1b;
    --branco: white;
    --brancobg:#ffffff;
    --backgroundpost: #e6e6e6;
}   

/*BODY*/

body {
    background-color: #f0f0f0;
}

/*NAV BAR*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #2a8d3f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-left, .navbar-center, .navbar-right {
    display: flex;
    align-items: center;
}

.navbar-center {
    margin-left: -100px;
}

.logo {
    height: 70px;
    margin-right: 15px;
    margin-left: 40px;
}

.site-name {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
    text-align: center;
    color: white;
    align-items: center;
    margin-right:-250px;
}

.nav-button {
    background: none;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
    color: white;
    margin: 0 25px;
    cursor: pointer;
    padding: 5px 0;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #42ff21;
    bottom: 0;
    left: 50%;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-button {
    display: inline-block;
}

.nav-button:hover {
    color: #39ff14;
    transform: translateY(-2px); 
}

.nav-button:hover::after {
    width: 100%; 
    left: 0; 
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #216F27;
    border-radius: 75px;
    padding: 10px 15px;
    margin-right: 40px;
    width: 400px;
}


.search-bar input::placeholder {
    color: white;
    opacity: 1; 
}

.search-bar input {
    border: none;
    background: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
    padding: 10px;
    width: 400px;
    color: white;
}


.search-icon {
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.subscribe-button {
    background-color: #34b91c;
    color: white;
    border: none;
    border-radius: 25px; 
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem; 
    margin-right: 20px;
    padding: 18px 20px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.subscribe-button:hover {
    background-color: #1e6e3d; 
    transform: translateY(-2px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.login-button {
    display: flex;
    align-items: center;
    background-color: #2a8d3f;
    color: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 8px 15px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: 30px;
    position: relative;
    transition: transform 0.5s ease;
}

.login-button:hover {
    color: white;
    transform: scale(1.02);
}

.menu-icon, .user-icon {
    height: 25px;
    margin: 0 5px;
}

.user-icon {
    height: 30px;
}

.menu-panel {
    display: none;
    position: absolute;
    top: 75px;
    right: 20px;
    background-color: #319939;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1000;
    transition: all 0.3s ease;
}

.menu-panel.open {
    opacity: 1;
    transform: translateY(0); /* Desliza para baixo */
}

.menu-panel button  {
    padding: 15px 20px;
    font-family: 'Airbnb Cereal', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-panel button:last-child {
    border-bottom: none;
}

.menu-panel .divider {
    height: 1px;
    background-color: #1e6e3d;
    margin: 10px 0;
}

.panel-button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background: none;
    font-weight:600;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
    color: white;
    text-align: left;
    cursor: pointer;
}

.panel-button:hover {
    background-color: #2a8d3f;
    transform: translateY(-2px); 
}

hr {
    margin: 1px;
    border: none;
    border-top: 1px solid #333;
}

.links-home {
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
}

/*FOOTER*/

footer {
    background-color: #2a8d3f;
    color: #fff;
    padding: 40px 0 20px;
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.footer-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-secao {
    display: flex;
    justify-content: space-around;
    flex: 1;
    flex-wrap: wrap;
}

.footer-bloco {
    margin: 0 15px;
    flex: 1 1 200px; /* Flexível para ajustar-se em diferentes larguras */
    min-width: 200px; /* Largura mínima para evitar que quebre em telas muito pequenas */
}

.footer-bloco h4 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #f1f1f1;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.footer-bloco ul {
    list-style: none;
    padding: 0;
}

.footer-bloco ul li {
    margin-bottom: 10px;
}

.footer-bloco ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-bloco ul li a:hover {
    color: #fff;
}

.footer-conecte {
    text-align: center;
    margin: 20px 0 0;
    flex: 1 1 200px;
}

.footer-conecte h4 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #f1f1f1;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.redes-sociais a img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s;
    border-radius: 50%;
}

.redes-sociais a img:hover {
    transform: scale(1.1);
}

.copyright {
    text-align: center;
    font-size: 14px;
    color: #ccc;
    margin-top: 20px;
    margin-right: 150px;
    white-space: nowrap;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@media (max-width: 768px) {

    .footer-conteudo {
        flex-direction: column;
        align-items: center;
    }

    .footer-secao {
        flex-direction: column;
        align-items: center;
    }

    .footer-bloco {
        text-align: center;
        margin-bottom: -10px;
    }

    .footer-conecte {
        margin-top: 20px;
    }

    .copyright {
    margin-left: 20%; 
    }
}



/* responsividade posts */

.tab {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media (min-width: 768px) {
    .tab {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .tab {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 600px) {
    .tab {
        grid-template-columns: repeat(1, 1fr);
    }
}
