*{
    margin:0px;
    padding:0px;
    font-family:"Open Sans", sans-serif;
}

:root {
    --verde_especial: #339933;
    --preto: #1b1b1b;
    --branco: white;
    --brancobg:#ffffff;
    --cinza: gray;
    --backgroundpost: #e6e6e6;
}   

/*BODY*/

body {
    background-color: var(--brancobg);
}

/*NAV BAR*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--verde_especial);
    color: white;
    flex-wrap: nowrap;
}

.logo img {
    height: 60px;
}

.section {
    flex: 1;
}

.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    transition: color 0.3s ease;
    font-weight: bold;
    align-items: center;
    text-align: center;
}

.nav-links a:hover {
    color: #fff;
}


/* Animações dos botões  */

.nav-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
    position: absolute;
    left: 0;
    bottom: -5px;
}

.nav-links a:hover::after {
    width: 100%;
}

/* Login botão */

.login-button {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--verde_especial);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 15px;
    font-size: large;
    font-weight: bold;
    white-space: nowrap;
}

.login-button img {
    height: 40px;
    margin-left: 8px;
}

.login-button:hover {
    background-color: green;
}

.login-button span {
    margin-right: 8px; /* Espaço entre o texto e o ícone */
}

  /*SUBNAV*/

  .subnav-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1000;
    width: 100%;
}

.subnav {
    background-color: rgba(255, 255, 255, 0.5); 
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.subscribe-button  {
    background-color: rgba(255, 255, 255, 0);
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    margin-right: 130px;
}

.subscribe-button:hover {
    color: #2D5731
}

.subscribe-button a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
    position: absolute;
    left: 0;
    bottom: -5px;
}

.subscribe-button a:hover::after {
    width: 100%;
}


/* Media */

@media (max-width: 768px) {
    .logo img {
        height: 50px; /* Diminui o tamanho da logo */
    }

    .nav-links {
        justify-content: center; /* Centraliza os links na navbar */
        margin-right: 10px;
    }

    .navbar {
        padding: 10px 10px;
        justify-content: space-between;
    }

    .nav-links li:first-child {
        display: none; /* Oculta o link "Home" em telas menores */
    }

    .login-button {
        margin-left: -40px;
        padding: 5px 8px;
        font-size: 14px;
    }

    .subscribe-button  {
        margin-left: 130px;
    }
}

@media (max-width: 480px) {
    .logo img {
        height: 45px; /* Diminui ainda mais a logo */
    }

    .nav-links li:first-child {
        display: none; /* Oculta o link "Home" em telas menores */
    }

    .nav-links a {
        margin-right: 10px;
        font-size: 14px;
    }

    .login-button span {
        display: none; /* Oculta o texto e exibe apenas o ícone */
    }

    .login-button {
        padding: 4px 6px;
        font-size: 12px;
    }

    .subscribe-button {
        font-size: 14px;
        padding: 8px 15px;
        margin-left: 130px;
    }

    .subscribe-button  {
        margin-left: 130px;
    }
}

/*FOOTER*/

footer {
    background-color:var(--verde_especial);
    color: #fff;
    padding: 40px 0 20px;
}

.footer-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-secao {
    display: flex;
    justify-content: space-around;
    flex: 1;
    flex-wrap: wrap; /* Permite que as seções se reorganizem em telas menores */
}

.footer-bloco {
    margin: 0 15px;
    flex: 1 1 200px; /* Flexível para ajustar-se em diferentes larguras */
    min-width: 200px; /* Largura mínima para evitar que quebre em telas muito pequenas */
}

.footer-bloco h4 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #f1f1f1;
}

.footer-bloco ul {
    list-style: none;
    padding: 0;
}

.footer-bloco ul li {
    margin-bottom: 10px;
}

.footer-bloco ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-bloco ul li a:hover {
    color: #fff;
}

.footer-conecte {
    text-align: center;
    margin: 20px 0 0;
    flex: 1 1 200px;
}

.footer-conecte h4 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #f1f1f1;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.redes-sociais a img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s;
    border-radius: 50%;
}

.redes-sociais a img:hover {
    transform: scale(1.1);
}

.copyright {
    text-align: center;
    font-size: 14px;
    color: #ccc;
    margin-top: 20px;
    margin-right: 150px;
    white-space: nowrap;
}

@media (max-width: 768px) {

    .footer-conteudo {
        flex-direction: column;
        align-items: center;
    }

    .footer-secao {
        flex-direction: column;
        align-items: center;
    }

    .footer-bloco {
        text-align: center;
        margin-bottom: -10px;
    }

    .footer-conecte {
        margin-top: 20px;
    }

    .copyright {
    margin-left: 20%; 
    }
}



/* responsividade posts */

.tab {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media (min-width: 768px) {
    .tab {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .tab {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 600px) {
    .tab {
        grid-template-columns: repeat(1, 1fr);
    }
}