@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css');


*{
    margin:0px;
    padding:0px;
    font-family: "Montserrat", sans-serif;
}

:root {
    --verde_especial: #28a745;
    --preto: #1b1b1b;
    --branco: white;
    --brancobg:#ffffff;
    --branco-fosco: #e6ecf0;
    --cinza: gray;
    --cinza-escuro: #6c757d;
    --cinzaclaro: #ccc;
    --cordefundopadrao: #f0f0f0;
    --verdenavfooter: #2a8d3f;
    --verdeneon: #42ff21;
    --brancofraco: #f1f1f1;
    --amarelado: #d0d0b5;
    --postcor: white;
    --laranja: #ffc107;
    --textopost: #333;
    --textopostinfo: #777;
    --hoverplanos: #cdf7cf;
    --searchbar: #216F27;

    /* Cores Específicas */
    --vermelhoerro: red;
}   

.link-post {
    text-decoration: none;
}

/*BODY*/

body {
    background-color: var(--cordefundopadrao);
    
}

/*NAV BAR*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: var(--verdenavfooter);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-left, .navbar-center, .navbar-right {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.menu-icon {
    height: 25px;
}

.navbar-center {
    flex:1;
    margin-left: 10px;
}

.logo {
    height: 90px;
    margin-right: 15px;
    margin-left: 20px;
}

.site-name {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
    text-align: center;
    color: var(--branco);
    align-items: center;
    transition: color 0.3s ease, transform 0.3s ease;
}

.site-name:hover {
    transform: translateY(-2px); 
}

.site-name:hover::after {
    width: 100%; 
    left: 0; 
    bottom: 10;
    margin-top: 30px;
}

.site-name::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: var(--branco);
    bottom: 10;
    margin-top: 30px;
    left: 50%;
    transition: width 0.3s ease, left 0.3s ease;
}


.nav-button {
    background: none;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.2rem;
    color: var(--branco);
    margin: 0 25px;
    cursor: pointer;
    padding: 5px 0;
    font-weight: 600;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--verdeneon);
    bottom: 0;
    left: 50%;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-button {
    display: inline-block;
}

.nav-button:hover {
    color: var(--verdeneon);
    transform: translateY(-2px); 
}

.nav-button:hover::after {
    width: 100%; 
    left: 0; 
}

/* Barra de pesquisa */

.search-bar-container {
    position: relative;
    width: auto;
    max-width: 1000px;
    margin-right: 15px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: var(--searchbar);
    border-radius: 75px;
    margin-left: 50px;
    padding: 10px 15px;
    margin-right: 50px;  
}

.search-bar-mobile input::placeholder {
    color: var(--branco);
    opacity: 1; 
}

.search-bar-mobile input {
    border: none;
    background: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 0.85rem;
    padding: 10px;
    width: 75%;
    background-color: var(--searchbar);
    border-radius: 25px;
    color: var(--branco);
}

.search-bar input::placeholder {
    color: var(--branco);
    opacity: 1; 
}

.search-bar input {
    border: none;
    background: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
    padding: 10px;
    width: 450px;
    color: var(--branco);
}


.search-icon {
    height: 20px;
    margin-left: 5px;
    margin-right: 10px;
}

.limpar {
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
    margin-left: 10px;
}

.painel-sugestoes {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--branco-fosco);
    border-radius: 10px;
    margin-top: 5px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10000000000000000000000000;
    list-style: none;
    padding: 0;
}

.painel-sugestoes li {
    padding: 10px 15px;
    cursor: pointer;
    color: var(--preto);
    font-family: "Montserrat", sans-serif;
    border-bottom: 1px solid #3a3a3a;
    transition: background 0.2s;
}

.painel-sugestoes li:hover {
    background-color: var(--cinzaclaro);
}

.oculto {
    display: none;
}

/* plano botão */

.subscribe-button {
    background-color: var(--verde_especial);
    color: var(--branco);
    border: none;
    border-radius: 25px; 
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem; 
    font-weight: 600;
    margin-right: 20px;
    padding: 18px 20px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.subscribe-button:hover {
    background-color: var(--verdenavfooter); 
    transform: translateY(-2px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}


/* Notificação */
.notificacao-container {
  position: relative;
  margin-right: 20px;
}

.botaoNotificacao {
  border: none;
  background: none;
  color: var(--branco);
}

.icone-notificacao {
  height: 30px;
  width: 30px;
  cursor: pointer;
  filter: brightness(100%);
  transition: transform 0.3s ease;
}

.icone-notificacao:hover {
  transform: scale(1.1);
}

.icone-notificacao-wrapper {
  position: relative;
  display: inline-block;
}

/* Badge com contador */
.badge-notificacao {
  position: absolute;
  top: -5px;
  right: -5px;
  min-width: 16px;
  height: 16px;
  background-color: var(--verde_especial);
  color: white;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 16px;
  border-radius: 50%;
  padding: 0 4px;
  border: 0.5px solid var(--textopost);
  animation: pulsar 1.5s infinite;
  z-index: 10;
}

.badge-notificacao.oculto {
  display: none;
}

/* Painel de notificações com animação */
.painel-notificacoes {
  position: absolute;
  right: 0;
  top: 40px;
  width: 350px;
  background-color: var(--postcor);
  border-radius: 10px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  padding: 15px 10px;
  z-index: 999;
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;

  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: all 0.3s ease;
}

.painel-notificacoes:not(.oculto) {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* Estilo de cada notificação */
.notificacao-item {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 10px;
  background-color: var(--postcor);
  border-radius: 10px;
  transition: background 0.3s;
  color: var(--textopost);
  font-family: 'Montserrat', sans-serif;
}

.notificacao-item:hover {
  background-color: var(--cinza);
}

.notificacao-item img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
}

.notificacao-texto {
  flex: 1;
}

.notificacao-texto strong {
  font-size: 0.95rem;
  display: block;
  margin-bottom: 4px;
}

.notificacao-texto span {
  font-size: 0.8rem;
  color: var(--textopostinfo);
}

/* Bolinha de notificação individual */
.bolinha-verde {
  width: 10px;
  height: 10px;
  background-color: #00e676;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  left: -2px;
  border: 2px solid #1e1e1e;
}

/* Animação */
.oculto {
  display: none;
}

.login-button {
    display: flex;
    align-items: center;
    background-color: var(--verdenavfooter);
    color: var(--branco);
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: 30px;
    position: relative;
    transition:  background-color 0.3s ease transform 0.5s ease;
}

.login-button:hover {
    color: var(--branco);
    transform: scale(1.02);
    background-color: var(--verde_especial);
}

.menu-icon, .user-icon {
    height: 25px;
    margin: 0 5px;
}

.user-icon {
    width: auto;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.menu-panel {
    display: none;
    position: absolute;
    top: 75px;
    right: 20px;
    background: linear-gradient(135deg, var(--verde_especial), #1e774d);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    z-index: 1000;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.4s ease-in-out;
    min-width: 220px;
    overflow: hidden;
}

.menu-panel.open {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.menu-panel button  {
    padding: 15px 20px;
    font-family: 'Airbnb Cereal', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-panel button:last-child {
    border-bottom: none;
}

.menu-panel .divider {
    height: 1px;
    background-color: var(--verdenavfooter);
    margin: 10px 0;
}

.mobile-menu {
    display: none;
}

.panel-button {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 14px 20px;
    background: transparent;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: var(--branco);
    text-align: left;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.panel-button:hover {
    background-color: var(--verdenavfooter);
    border-radius: 10px;
    padding-left: 25px;
}

.panel-button::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: var(--verdenavfooter);
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.panel-button:hover::before {
    transform: scaleY(1);
}

hr.divider {
    border: none;
    height: 1px;
    background: linear-gradient(to right, transparent, var(--verdenavfooter), transparent);
    margin: 10px 0;
}

.panel-button::after {
    background-color: var(--verdenavfooter);
    border-radius: 10px;
}

hr {
    margin: 1px;
    border: none;
    border-top: 1px solid var(--preto);
}

.links-home {
    display:flex;
    position: relative;
    text-align: center;
    align-items: center;
}

a {
    text-decoration: none;
  }
  
  .mobile-subscribe-button:hover {
    background-color: var(--verdenavfooter);
  }

/* Mobile Search Bar */

.search-bar-mobile {
    border: none;
    background: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
    padding: 5px;
    margin-left: 10px;
    width: 95%;
    margin-right: 5px;
    background-color: var(--verde_especial);
    border-radius: 25px;
    color: var(--branco);
}

.mobile-search-bar {
    position: relative;
  }

.mobile-search-bar input::placeholder {
    color: var(--branco);
}

.mobile-search-bar {
    background-color: var(--verdenavfooter);
    padding: 12px;
}

#sugestoesMobile {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--branco-fosco);
    border-radius: 10px;
    margin-top: 5px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10000;
    list-style: none;
    padding: 0;
  }

.mobile-subscribe-button {
    width: 100%;
    padding: 12px 0;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    background-color: var(--verde_claro);
    color: var(--branco);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mobile-subscribe-button:active {
    background-color: var(--verdenavfooter); 
    transform: scale(1.1); 
}

.mobile-search-bar {
    display: none;
}

.login-button-mobile {
    display: none;
}

.search-bar-mobile {
    display: none;
}

.link-usuario {
    z-index: 3; 
    position: relative;
}

.mobile-subscribe-button{
    display: none;
}

.a {
    text-decoration: none;
}


.mobile-subscribe-button {
    background-color: var(--verde_especial);
    border-radius: 0%;
    width: 100%;
    height: 50px;
    position: relative;
    display: inline-block;
    text-align: center;
    align-items: center;
}

.mobile-subscribe-button {
    display: none;
}

.dark-mode-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: all 0.3s ease;
    position: relative;
  }

    /*dark mode mobile  */

    .dark-mode-button-mobile {
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 10px;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        gap: 8px; /* espaço entre ícone e texto */
        font-size: 14px;
      }
      
      .icon-wrapper {
        position: relative;
        width: 24px;
        height: 24px;
      }

      .texto-claro-escuro {
        color: var(--branco);
      }



  .dark-mode-button:hover,
  .dark-mode-button:active {
    background-color: green;
    border-radius: 10px;
  }

  .brilho-icon {
    width: 24px;
    height: 24px;
    display: none;
    transition: transform 0.3s ease;
  }

  .light-mode .brilho-icon:first-child {
    display: inline;
  }

  .dark-mode .brilho-icon:last-child {
    display: inline;
    animation: rotateMoon 1s ease-in-out;
  }

  @keyframes rotateMoon {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .brilho-icon {
    animation: rotateSun 1s ease-in-out;
    animation-delay: -1s; 
  }

  .brilho-icon.sun-animate {
    animation: rotateSun 1s ease-in-out;
  }

  .navbar-left, .navbar-right {
    flex-wrap: nowrap;
    min-width: 0;
}

/* Responsividade */

@media (min-width: 978px)  and (max-width:1700px) {

    .nav-button {
        justify-content:flex-start ;
    }

    .search-bar {
        display: none;
    }

    .search-bar-mobile {
        display: block;
        border: none;
        background: none;
        outline: none;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 1rem;
        padding: 5px;
        margin-left: 10px;
        width: 98%;
        margin-right: 5px;
        background-color: var(--searchbar);
        border-radius: 25px;
        color: var(--branco);
    }

    .search-icon {
        height: 20px;
        width: 20px;
        text-align: center;
        align-items: center;
        position: relative;
        top: 2px;
        display:inline-block;
        margin: 5px 0px 0px 15px;
    }

    .search-bar-mobile input {
        border: none;
        background: none;
        outline: none;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 1rem;
        padding: 10px;
        width: 75%;
        background-color: var(--searchbar);
        border-radius: 25px;
        color: var(--branco);
    }

    .mobile-search-bar {
        display: block;
    }

    .site-name {
        font-size: large;
    }

    .logo {
        margin-left: 0;
    }

}


@media (max-width: 977px) {

        .botaoNotificacao {
        display: none;
    }

    .links-home {
        display:flex;
        position: relative;
        flex: 1;
        text-align: center;
        justify-content:center;
        align-items: center;
    }

    

    .mobile-subscribe-button{
        display: block;
    }    

    .subscribe-button {
        display: none;
    }

    .logo {
        margin-left: 0;
    }

    .search-bar-mobile {
        display: block;
        background-color: var(--searchbar);
    }

    .mobile-subscribe-button{
        display: block;
    }    

    .search-icon {
        height: 15px;
        width: 15px;
        text-align: center;
        align-items: center;
        position: relative;
        top: 2px;
        display:inline-block;
        margin: 5px 0px 0px 15px;
    }

    .navbar {
        justify-content: space-between;
        display: flex;
        padding: 10px 15px;
    }

    .mobile-search-bar {
        display: block;
    }

    .site-name {
        font-size: medium;
    }

    .login-button {
        display: none;
    }

    .login-button-mobile {
        display: block;
    }

    .user-icon {
        width: 35px;
        height: 35px;
    }

    .login-button-mobile {
        display: flex;
        align-items: center;
        background-color: var(--verdenavfooter);
        color: var(--branco);
        border: none;
        border-radius: 20px;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        margin-right: 10px;
        position: relative;
        flex: 1;
        transition: transform 0.5s ease;
    }

    .hamburger-menu {
        display: block;
    }

    .navbar-center, .search-bar, .subscribe-button {
        display: none;
    }

    .navbar-left {
        flex: 1;
    }

    .navbar-right {
        justify-content: flex-end;
    }

    .logo {
        height: 50px;
        margin-left: 10px;
    }

    .site-name {
        justify-content: center;
        text-align: center;
        align-items: center;
        cursor: pointer;
        font-size: 1.2rem;
    }



    /* Mobile Menu */
    .mobile-menu {
        display: none;
    }

    .mobile-menu.open {
        display: flex;
        text-align: left;
        align-items: left;
        background-color: var(--verde_especial);
        color: var(--branco);
        border: none;
        width: auto;
        padding: 8px 15px;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        margin-right: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        border-radius: 0 0 25px 25px;
        position: absolute;
        right: auto;
        z-index: 1000000000000000000000000;
        transition: transform 0.5s ease;
    }

    .mobile-menu {
        display: none;
        flex-direction: column;
        background-color: var(--verdenavfooter);
        background: linear-gradient(135deg, var(--verde_especial), #1e774d);
        padding: 20px;
        position: absolute;
        right: 0;
        width: 100%;
    }

    .dark-mode-button {
        display: none;
    }

    .mobile-nav-button {
        background: none;
        border: none;
        font-family: "Montserrat", sans-serif;
        font-size: 1.2rem;
        color: var(--branco);
        padding: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
        text-align: left;
    }

    .mobile-nav-button:active {
        transform: scale(0.95); 
    }
    
}

@media (max-width: 480px) { 
    .nome-post {
        font-size: 16px;
    }

    /* foto de perfil com notificação */

    
}

/*FOOTER*/

footer {
    background-color: var(--verdenavfooter);
    color: var(--branco);
    padding: 40px 0 20px;
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.footer-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-secao {
    display: flex;
    justify-content: space-around;
    flex: 1;
    flex-wrap: wrap;
}

.footer-bloco {
    margin: 0 15px;
    flex: 1 1 200px;
    min-width: 200px; 
}

.footer-bloco h4 {
    font-size: 18px;
    margin-bottom: 20px;
    color: var(--brancofraco);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.footer-bloco ul {
    list-style: none;
    padding: 0;
}

.footer-bloco ul li {
    margin-bottom: 10px;
}

.footer-bloco ul li a {
    color: var(--cinzaclaro);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-bloco ul li a:hover {
    color: var(--branco);
}

.footer-conecte {
    text-align: center;
    margin: 20px 0 0;
    flex: 1 1 200px;
}

.footer-conecte h4 {
    font-size: 18px;
    margin-bottom: 20px;
    color: var(--brancofraco);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.redes-sociais a img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s;
    border-radius: 50%;
}

.redes-sociais a img:hover {
    transform: scale(1.1);
}

.copyright {
    text-align: center;
    font-size: 14px;
    color: var(--cinzaclaro);
    margin-top: 20px;
    margin-right: 150px;
    white-space: nowrap;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@media (max-width: 768px) {

    .footer-conteudo {
        flex-direction: column;
        align-items: center;
    }

    .footer-secao {
        flex-direction: column;
        align-items: center;
    }

    .footer-bloco {
        text-align: center;
        margin-bottom: -10px;
    }

    .footer-conecte {
        margin-top: 20px;
    }

    .copyright {
        text-align: center;
        margin-left: 10%;
    }
}
