@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css');


/* CARROSEL */

.carousel-section {
    text-align: center;
    margin: 50px 0;
}

.carousel-title {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-left: 50px;
    margin-bottom: 50px;
}

.carousel-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    width: 80%;
    height: 220px;
    padding-bottom: 20px;
    overflow: hidden;
}


.carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-item {
    flex: 0 0 20%;
    text-align: center;
}

.carousel-item a {
    display: block;
    text-decoration: none;
    color: inherit; 
}

.carousel-item img {
    width: 35%;
    height: 150px;
    object-fit: cover;
    border-radius: 50%; 
    transition: transform 0.3s, border 0.3s ease;
}

.carousel-item p {
    text-align: center;
    font-size: 18px;
    margin-top: 8px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    color: #000;
}

.carousel-item:hover img {
    transform: scale(1.1);
}

.carousel-item:hover p {
  color:  #03A60E;
}

.carousel-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-weight: bold;
    top: 50%;
    width: 50px;
    height: 60px;
    background-color: #28a745; /* Cor verde */
    color: white;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transform: translateY(-50%);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.carousel-arrow:hover {
    background-color:  #03A60E; 
    transform: translateY(-50%) scale(1.1);
}

.left-arrow {
    left: 2%;
}

.right-arrow {
    right: 2%;
}

.carousel-arrow:hover {
    transform: translateY(-50%) scale(1.2);
    background-color: #218838; /* Verde mais escuro ao passar o mouse */
}

.carousel-arrow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-item:hover img {
    border: 5px solid #28a745; /* Borda verde ao passar o mouse */
    transform: scale(1.1); /* Aumenta o tamanho da imagem */
}


/* Responsiveness */


@media (max-width: 768px) {
    .carousel-item {
        flex: 0 0 33%;
    }
    
    .carousel-arrow {
        width: 35px;
        height: 35px;
        font-size: 20px;
    }
}