@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css');


#signin .erro{
    background-color: rgb(255, 202, 202);
    border: 2px solid var(--vermelhoerro);
    color: var(--vermelhoerro);
}
#signup .erro{
    background-color: rgb(255, 202, 202);
    border: 2px solid var(--vermelhoerro);
    color: var(--vermelhoerro);
}
.erro #email {
    border: 2px solid var(--vermelhoerro);
}
.erro #senha {
    border: 2px solid var(--vermelhoerro); 
}
.erro #nome {
    border: 2px solid var(--vermelhoerro);
}
.erro #repsenha {
    border: 2px solid var(--vermelhoerro);
}

.erro{
    background-color: rgb(255, 202, 202);
    border: 2px solid var(--vermelhoerro);
    color: var(--vermelhoerro);
}