#signin .erro{
    background-color: rgb(255, 202, 202);
    border: 2px solid red;
    color: red;
}
#signup .erro{
    background-color: rgb(255, 202, 202);
    border: 2px solid red;
    color: red;
}
.erro #email {
    border: 2px solid red;
}
.erro #senha {
    border: 2px solid red; 
}
.erro #nome {
    border: 2px solid red;
}
.erro #repsenha {
    border: 2px solid red ;
}
