.evento-contianer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.eventoInfo{
    border: 1px solid black;
    border-radius: 10px;
    /* padding: 15px; */
    display: flex;
    align-items: center;
    flex-direction: column; 
    width: 350px;
    margin: 15px;
}
.evento-img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}