/* EVENTOS */

/* Container para o título e subtítulo */
.event-container {
    text-align: center;
    background-color: #f0f0f0; /* fundo cinza suave */
    padding: 50px 0;
}

/* Estilização do título */
.event-title {
    font-size: 4.5rem; /* fonte maior */
    color: #28a745; /* verde estilizado */
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: fadeInDown 1s ease-out;
}

/* Estilização do subtítulo */
.event-subtitle {
    font-size: 1.4rem; /* fonte maior */
    color: #555; /* preto claro */
    margin-bottom: 50px; /* margem inferior para espaçamento */
    animation: fadeInUp 1s ease-out;
}

/* Estilização da box de filtros */
.filter-box {
    display: flex;
    justify-content: flex-start; /* Alinhar à esquerda */
    align-items: center;
    background-color: #fff;
    padding: 20px; /* Aumentar padding */
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* sombra suave */
    max-width: 80%; /* mantém o tamanho */
    margin: 0 auto;
    animation: fadeIn 1.5s ease-out;
}

/* Estilo de cada item de filtro */
.filter-item {
    margin-right: 30px; /* aumentar espaço entre filtros */
    display: flex;
    align-items: center;
}

/* Texto de "Filtrar" */
.filter-label {
    font-size: 1.5rem; /* aumentar tamanho da fonte */
    color: #28a745; /* verde claro */
    font-weight: bold;
}

/* Linha de separação */
.separator {
    height: 40px;
    width: 1px;
    background-color: #ccc; /* preto claro */
    margin-right: 25px; /* mais espaçamento entre separador e filtros */
}

/* Estilo do texto de cada filtro */
.filter-text {
    font-size: 1.2rem; /* aumentar tamanho da fonte */
    color: #333;
    margin-right: 15px; /* aumentar espaço entre texto e select */
    font-weight: bold;
}

/* Estilo dos seletores */
.filter-select, .filter-date {
    padding: 10px 20px; /* aumentar padding */
    border: 2px solid #cccccc; /* borda cinza combinando com a box */
    border-radius: 6px;
    background: #fff;
    color: #333;
    cursor: pointer;
    font-size: 1.1rem; /* aumentar tamanho da fonte */
    appearance: none; /* Remove o estilo padrão */
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"/></svg>');
    background-repeat: no-repeat;
    background-position: right 15px center; /* ajustar posição da seta */
    background-size: 12px;
    transition: border-color 0.3s, box-shadow 0.3s; /* Animação */
}

/* Animação hover para os seletores e input date */
.filter-select:hover, .filter-date:hover {
    border-color: #999; /* cinza mais escuro ao passar o mouse */
    box-shadow: 0 0 5px rgba(60, 60, 60, 0.2); /* sombra leve cinza */
}

/* Estilo para o input date */
.filter-date {
    width: 200px; /* tamanho ideal */
}

/* Animação de fadeIn para os elementos */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* EVENTOS PARTIALS*/

.container {
    width: 95%;
    margin: 0 auto;
}

.evento-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.evento {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-align: center;
}

.evento:hover {
    transform: translateY(-5px);
}

.event-image-container {
    overflow: hidden;
}

.evento img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s;
}

.event:hover img {
    transform: scale(1.1);
}

.evento-name {
    font-size: 1.5em;
    font-weight: bold;
    margin: 15px 0;
    color: black;
}

.evento-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

.evento-info span {
    font-size: 1em;
    color: black;
}

.evento-info button {
    padding: 5px 15px;
    border: none;
    background-color: #339933;
    color: white;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.evento-info button:hover {
    background-color:  #03A60E;
    transform: scale(1.05);
}

select {
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    margin: 10px;
}

select:hover, input[type="date"]:hover {
    border-color: #888;
}