.hero-container {
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #1a1a1a, #333);
}


.hero-banner {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.hero-banner:hover {
  transform: scale(1.02);
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 15px;
  margin-top: -5px;
  border-radius: 0 0 15px 15px;
}

.user-info1 {
  display: flex;
  align-items: center;
}

.user-details {
  display: flex;
  align-items: flex-start;
  align-items: center; /* Centraliza o conteúdo horizontalmente */
}

.user-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  transition: transform 0.3s ease;
}

.user-photo:hover {
  transform: scale(1.1);
}

.user-name {
  color: white;
  font-size: 1.5em;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.user-name:hover {
  color: #007bff;
  text-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  transition: 0.3;
}

.post-time {
  color: #aaa;
  font-size: 1em;
  margin-top: 5px;
  font-style: italic;
}

.hero-title {
  color: white;
  font-size: 1.8em;
  text-align: center;
  flex: 1;
  flex-wrap: nowrap;
  transition: font-size 0.5s ease
}

.hero-title:hover {
  font-size: 1.85em;
}

.like-info {
  display: flex;
  align-items: center;
}

.heart-icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  margin-bottom: 5px;
}

/* coração */ 

.heart-icon {
  color: white;
  font-size: 1.5em;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin-bottom: 15px;
}

.heart-icon:hover {
  color: #e74c3c;
  transform: scale(1.2);
}


.likes {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  color: white;
}

.letras-like {
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.letras-like:hover {
  color: #007bff;
}

.likes i {
color: white;
margin-right: 5px;
cursor: pointer;
font-size: 16px; 
}

.likes span {
margin-left: 5px;
}

.user-info1 a {
text-decoration: none;
color: white;
margin: 8px;
}

.like-count {
  color: white;
  font-size: 1.2em;
}

.likes {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.likes i {
  color: white;
  margin-right: 5px;
  cursor: pointer;
  font-size: 16px; 
}

.likes span {
  margin-left: 5px;
}

.user-info1 a {
  text-decoration: none;
  color: white;
  margin: 8px;
}


.post-section {
  padding: 20px;
}

.post-header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.post-title {
  font-size: 2em;
  color: #333;
  letter-spacing: 2px;
  margin: 20px;
}


.post-detalhes p {
  text-align: left;
}

/* Responsividade */

@media (max-width: 768px) {
  .hero-content {
      text-align: center;
  }

  .heart-icon{
    margin-top: -5px;
  }

  .hero-banner {
    max-height: 100%;
    max-width: 100%;
    background-size: 300px;
  }

  .hero-title {
    font-size: 0.8em;
    margin: 10px 0;
  }
  
  .user-info1 {
    align-items: center;
    font-size: x-small;
    padding: 0;
  }

  .user-details {
    margin-top: 5px;
  }

  .post-time {
    margin-top: 20px;
    margin-left: -45px;
  }

  .user-info1 a {
        margin-top: -5px;
        font-size: x-small;
  }

  .user-photo {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 50%;
    }

    .likes i {
      font-size:x-small;
      
    }

  .likes {
      justify-content: left;
      flex-direction: column;
  }

  .post-header {
      grid-template-columns: 1fr;
      gap: 15px;
  }


  
}

@media (max-width: 480px) {
  .hero-content {
      padding: 0.5px;
  }

  .user-info1 {
    flex-direction: column;
    align-items: center;
    font-size: x-small;
    padding: 0;
  }


  .user-details {
    align-items: center;
    font-size: x-small;
    margin-top: 5px; /* Adiciona espaço no topo */
  }

  .post-time {
    font-size: 8px;
    margin-top: 5px;
    margin-left: -40px;
  }

  .hero-title {
    font-size: 0.8em;
  }

  .likes {
    text-align: left;
    flex-direction: column;
  }

  .likes i {
    font-size:xx-small;
  }

  .post-title {
      font-size: 1em;
      text-align: center;
  }
}