@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css');


.informacao-post {
    display: flex;
    justify-content: space-between;
    margin: 40px;
  }
  
  .box-post {
    margin-right: 10px;
    background-color: #ffffff;
    padding: 20px; 
    position: relative;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .titulo-post {
    font-size: 28px;
    color: #2d2d2dd7;
    letter-spacing: 0.5px;
    font-weight:700;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 20px;
  }

  .info-post, .likes {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .info-post {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; 
    align-items: center; 
  }

  .info-mini-post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .likes-mini-post {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    align-items: center;
    font-size: 16px; 
    margin-bottom: 40px;
    color: #444444;
  }

  .detalhes-post {
    color: #888888;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .coracao {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 10px;
    transition: transform 0.3s;
  }

  .num-likes {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #888888;
    margin-bottom: 5px;
  }

  .likes {
    display: flex;
    align-items: center;
  }

  
  .coracao:hover {
    transform: scale(1.2);
  }

  .imagem-post {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
  }

  .descricao-post {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #555;
    margin-top: 20px;
    font-size: 18px; 
    line-height: 1.6;
    letter-spacing: 0.5px; 
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
  }

  .descricao-post:hover {
    color: #333333;
    transform: translateY(-5px); /* Animação ao passar o mouse */
  }
  
  .box-criador {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .box-direita {
    width: 35%; 
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .box-criador, .box-comentarios {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }


  .foto-criador {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: left;
    margin-right: 12px;
  }
  
  .seguidores {
    margin-top: 5px;
    margin-left: 10px;
  }
  
  .info-criador {
    position: relative;
    cursor: pointer;
    justify-content: flex-end; 
    align-items: center; 
  }
  
  .box-mini-posts {
  padding: 10px;
  border-radius: 10px;
  }
  
  .mini-box {
    display: flex;
    margin-top: 30px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
  }

  .nome-mini-post {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px; 
    font-weight: bold;
    color: #000000; 
    margin-top: 5px;
  }
  
  .imagem-mini-post {
    width: 250px; 
    height: auto;
    margin-right: 15px;
    border-radius: 5px;
  }

  .coracao-mini {
    margin-right: 8px;
    transition: transform 0.3s;
  }

  .coracao-mini:hover {
    transform: scale(1.2);
  }
  
  .ver-publicacoes {
    display: block;
    margin: 20px auto;
    background-color: transparent;
    border: 2px solid #319939;
    color: #319939;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 550px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    padding: 20px; 
    border-radius: 25px; 
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .ver-publicacoes:hover {
    background-color: #e8f5e9;
    transform: scale(1.05);
  }

  .comentarios {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }

  .titulo-comentarios {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .numero-comentarios {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #888888;
    margin-bottom: 20px;
  }

  .form-comentario {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 12px;
    padding: 15px;
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }

  .campo-comentario {
    flex-grow: 1;
    background-color: transparent;
    padding: 12px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 8px;
    transition: all 0.3s ease;
    resize: none;
    color: #333;
  }

  .campo-comentario::placeholder {
    color: #aaa;
  }

  .campo-comentario:focus {
    border-color: transparent;
    outline: none;
    background-color: #eaeaea;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .botao-enviar {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 50px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    margin-left: 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }

  .botao-enviar:hover {
    background-color: #45a049;
    transform: scale(1.1);
  }

  .botao-enviar:hover {
    background-color: #45a049;
    transform: scale(1.05); /* Animação no hover */
  }
  
  .box-comentario {
    display: flex;
    align-items: flex-start;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 15px;
    transition: all 0.3s ease;
  }
  

  .box-comentario:hover {
    transform: translateY(-5px);
  }

  .info-comentario {
    flex-grow: 1;
  }

  .nome-criador {
    font-size: 24px; /* Aumentando o tamanho da fonte */
    font-weight: bold;
    color: #000000; /* Preto forte para destaque */
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-left: 5px; /* Adicionando margin ao nome */
    display: flex;
    align-items: center; /* Alinhando no meio da foto */
  }

  .texto-comentario {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #555555;
    margin-top: 5px;
    line-height: 1.5;
    transition: color 0.3s ease-in-out;
  }

  .texto-comentario:hover {
    color: #333333;
  }

  .seguir {
    background-color: #4CAF50; /* Cor de fundo verde */
    color: white; /* Cor do texto em branco */
    padding: 16px 28px; /* Espaçamento interno */
    border: none; /* Sem borda */
    border-radius: 50px; /* Bordas arredondadas */
    font-family: "Montserrat", sans-serif; /* Fonte Montserrat */
    font-size: 18px; /* Tamanho da fonte */
    cursor: pointer; /* Mão como cursor */
    transition: background-color 0.3s, transform 0.3s; /* Animações ao passar o mouse */
    display: block; /* Para que a margem funcione */
    margin-left: 60%; /* Empurra o botão para a direita */
    margin-top: -50px;
}

.seguir:hover {
    background-color: #45a049; /* Tom mais escuro ao passar o mouse */
    transform: scale(1.05); /* Aumento sutil ao passar o mouse */
}

.seguir:focus {
    outline: none; /* Remove a borda padrão ao focar */
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); /* Sombra ao focar */
}


  .seguir:hover {
    background-color: #45a049;
    transform: scale(1.05);
  }
  
  .foto-usuario {
    width: 70px; 
    height: 70px;
    border-radius: 50%;
    margin-right: 20px; 
  }

  .nome-usuario {
    font-size: 20px;
    font-weight: bold;
    color: #000000df; 
    margin-bottom: 10px;
    margin-left: -5px;
  }

  .container-ver-eventos {
    display: flex;
    margin-top: 10px;
    align-items: center; 
    margin-bottom: 30px; 
    margin-top: 30px;
}

.botao-seta {
  background-color: #28a745;
  border: none;
  color: #fff;
  height: 55px;
  margin-left: 30px;
  width: 55px;
  padding: 10px 20px;
  border-radius: 50%; 
  cursor: pointer;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}


.botao-seta:hover {
  transform: scale(1.05);  
  background-color: #1e7d36;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
}


.botao-seta img {
  margin-right: 30px;  
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease-in-out;
}


.botao-seta:hover img {
  transform: translateX(-5px); 
}

.ver-eventos {
  color: #727272;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  cursor: pointer;
  margin-left: 20px;  
  transition: color 0.3s ease-in-out;
}

/* Responsividade */

@media (max-width: 1292px) {

  .box-post{
    margin-right: 0;
    margin-bottom: 20px;
  }

  .informacao-post {
    flex-direction: column; 
    margin: 20px;
  }

  .box-direita {
    width: 100%; /* Reduzido para ocupar menos espaço em telas grandes */
    display: flex;
    flex-direction: column;
  }

  .titulo-post {
    font-size: 24px; /* Diminui o tamanho da fonte em telas menores */
  }

  .detalhes-post, .num-likes {
    font-size: 16px; /* Diminui o tamanho da fonte em telas menores */
  }

  .info-post {
    flex-direction: column; /* Muda a direção para coluna */
    align-items: flex-start; /* Alinha itens ao início */
  }

  .likes {
    margin-top: 10px; /* Adiciona espaço entre as informações */
  }

  .imagem-mini-post {
    width: auto;
  }

  .info-mini-post {
    justify-content:flex-start;
  }

  .nome-mini-post {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .coracao-mini {
    height: 25px;
    width: 25px;
  }

  .likes-mini-post {
    font-size: 20px;
  }

  .descricao-post {
    font-size: 16px; /* Diminui o tamanho da fonte */
  }

  .foto-criador {
    width: 50px; /* Diminui a largura da foto do criador */
    height: 50px; /* Diminui a altura da foto do criador */
  }

  .seguidores {
    margin-left: 5px; /* Diminui o espaço à esquerda */
  }

  .campo-comentario {
    font-size: 14px; /* Diminui o tamanho da fonte do comentário */
  }

  .botao-enviar {
    font-size: 14px; /* Diminui o tamanho da fonte do botão */
  }
}

  @media (max-width: 619px) {

    .mini-box {
      flex-direction: column; 
      padding: 0%;
    }

    .seguidores {
      margin-bottom: 20px;
    }
  
    .nome-mini-post {
      font-size: 16px; /* Tamanho adequado para mini box */
      margin: 5px 0;
  }

  .titulo-post {
    font-size: 20px; /* Diminui mais o tamanho da fonte */
  }

  .descricao-post {
    font-size: 14px; /* Diminui ainda mais a fonte */
  }

  .titulo-comentarios, .numero-comentarios {
    font-size: 16px; /* Ajusta o tamanho do título e número de comentários */
  }

  .ver-publicacoes {
    width: 100%; /* Botão ocupa a largura total */
  }
 }


/* botão seguir */

@media (max-width: 600px) {
  .seguir {
      font-size: 12px; /* Tamanho da fonte ainda menor */
      padding: 12px 20px; /* Ajuste do padding */
      margin-top: 1px; /* Ajuste da margem superior para telas menores */
      margin-left: 30%;
      width: 110px;
      margin-bottom: 10px;
  } 

  .foto-criador{
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  
}
