




@media (max-width: 768px) {
    .planos-section {
        flex-direction: column;
        align-items: center;
    }
}

/* INFORMAÇÔES DOS POSTS */

.container {
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 0;
}

.main-content {
    flex: 3;
    margin-right: 20px;
}

.creator-and-old-posts {
    flex: 2;
    margin-right: 20px;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-header {
    display: flex;
    flex-direction: column;
}

.post-image {
    position: relative;
    width: 100%;
    max-height: 500px; /* Tamanho aumentado */
    overflow: hidden;
    margin-bottom: 10px;
}

.post-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.post-title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    display: flex;
    align-items: center;
}

.post-title h2 {
    margin: 0;
    padding-right: 10px;
    font-size: 24px;
}

.likes {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.likes i {
    color: #e74c3c;
    margin-right: 5px;
    cursor: pointer;
}

.likes span {
    margin-left: 5px;
}

.post-meta {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.post-info {
    margin-bottom: 20px;
}

.creator-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.creator-info img {
    border-radius: 50%;
    margin-right: 10px;
}

.follow-info {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.follow-info button {
    margin-left: 10px;
    padding: 5px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.old-posts-box h3 {
    margin-bottom: 20px;
}

.old-post {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.old-post-image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border-radius: 5px;
}

.old-post-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.old-post-info {
    flex-grow: 1;
}

.old-post-info h4 {
    margin: 0;
    font-size: 16px;
}

.comments-section-box h3 {
    margin-bottom: 10px;
}

.comment-count {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.comment-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.comment-form textarea {
    height: 80px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.comment-form button {
    align-self: flex-end;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.comments {
    display: flex;
    flex-direction: column;
}

.comment {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.comment img {
    border-radius: 50%;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.comment-info {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 3px;
    flex-grow: 1;
}

.comment-info span {
    font-weight: bold;
}

.comment-info p {
    margin: 5px 0 0 0;
}

