.main_inscrito {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_solicitacao {
    width: 389px;
    height: 47px;
    padding: 2px 2px 2px 2px;
    border-radius: 24px;
    background-image: linear-gradient(-258.3746929600658deg, #339933 0%, #3ce206 100%);
    box-sizing: border-box;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
    color: #ffffff;
    text-align: center;
    line-height: normal;
    border-style: none;
    cursor: pointer;
    margin-top: 15px;
    font-size: 18px;
}
.btn_solicitacao:hover{
    transform: translateY(-2px);
    transition: 0.2s ease;
}
section {
    margin: 60px;
    border: #339933 2px solid;
    padding: 20px;
    border-radius: 24px;
    padding-bottom: 30px;
}
.info_organizador p {
    margin: 10px;
    font-size: 17px;
}
.info_organizador {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}
.banner {
    border-radius: 15px;
}
