/* Loguin */


.main_login {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container5 {
    background-color: var(--branco);
    height: 780px;
    width: 880px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 darkgrey;
    margin-top: 100px;
    font-size: 18px;
    margin-bottom: 60px;
}

form {
    position: absolute;
    margin-top: 80px;
    transition: .5s;
    width: 300px;
    height: 400px;
    font-size: 18px;
}

.buttonsForm {
    margin-top: 40px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 4px 4px 0 var(--cinza);
}

.buttonsForm button {
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
    padding: 10px 29px;
}

.btnColor {
    position: absolute;
    width: 108px;
    height: 100%;
    background: var(--verde_especial);
    border-radius: 30px;
    transition: .3s;
}

#signin #email, #senha{
    border: none;
    margin-top: 40px;
    border-radius: 60px;
    padding: 8px 0 8px 35px;
    outline: none;
    width: 250%;
    font-size: 20px;
    background-color: var(--backgroundpost);
    margin-left: 20px;
}
/* input[type="email"], input[type="password"], input[type="text"] {
    /* border: none;
    margin-top: 40px;
    border-radius: 60px;
    padding: 8px 0 8px 35px;
    outline: none;
    width: 250%;
    font-size: 20px;
    background-color: var(--backgroundpost);
    margin-left: 20px;
} */

#enviar_login {
    background: var(--verde_especial);
    color: white;
    border-radius: 30px;
    width: 150%;
    border: none;
    outline: none;
    padding: 8px 0 8px 4px;
    font-size: 15px;
    margin-top: 40px;
    margin-left: 60%;
    cursor: pointer;
}
#enviar_registrar {
    background: var(--verde_especial);
    color: white;
    border-radius: 30px;
    width: 150%;
    border: none;
    outline: none;
    padding: 8px 0 8px 4px;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 60%;
    cursor: pointer;
}

.divCheck {
    margin: 30px 0 0 35px;
    width: 80%;
    font-size: 13px;
}

#btnSignin {
    color: var(--branco);
}


.erro{
    background-color: rgb(189, 98, 98);
    border: 2px solid red;
    color: red;
}
.erro #email {
    border: 2px solid red;
}
.erro #senha {
    border: 2px solid red; 
}


#signin {
    left: 25px;
    width: 35%;
}
.spanerro{
    margin-left: 55px;
    color: gray;    
}

#signup {
    left: 950px;
    width: 35%;
}

.outras {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 460px;
}
.outras button {
    background-color: var(--branco);
    height: 60px;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: var(--preto) 1px solid;
    border-radius: 20px;
    padding-top: 5px;
    cursor: pointer;
}
.google img {
    height: 45px;
}
.microsofiti img {
    height: 45px;
}


@media (max-width: 925px) {
    .main_login {
        width: 100%;
        margin: auto;
    }
    .container5{
        width: 100%;
        margin: 4em auto;

    }
    #signin {
        left: 15px;
        width: 34%;
    }
    
    #signup {
        left: 950px;
        width: 34%;
    }
    #enviar_login {
        width: 150%;
        margin-left: 60%;

    }
}

@media (max-width: 600px) {
    #signin {
        left: 15px;
        width: 30%;
    }
    
    #signup {
        left: 950px;
        width: 30%;
    }
    #enviar_login {
        width: 200%;
        margin-left: 60%;
    }
    #enviar_registrar{
        width: 200%;
        margin-left: 60%;
    }
}
