.pratique-title {
    font-size: 4.5rem; 
    color: #28a745; 
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: fadeInDown 1s ease-out;
}


.pratique-subtitle {
    font-size: 1.4rem; 
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    color: #6d6d6d; 
    margin-bottom: 50px; 
    animation: fadeInUp 1s ease-out;
}

.main_organizador {
    display: flex;
    align-items: center;
    justify-content: center;
}

.organiza {
    display: flex;
    margin: 150px;
}

.info_organizador {
    width: 450px;
    margin-right: 50px;
}

.info_organizador p {
    margin: 5px;
}

.btn_solicitacao {
    width: 389px;
    height: 47px;
    padding: 2px 2px 2px 2px;
    border-radius: 24px;
    background-image: linear-gradient(-258.3746929600658deg, #339933 0%, #3ce206 100%);
    box-sizing: border-box;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
    color: #ffffff;
    text-align: center;
    line-height: normal;
    border-style: none;
    cursor: pointer;
    margin-top: 15px;
    font-size: 18px;
}
.btn_solicitacao:hover{
    transform: translateY(-2px);
    transition: 0.2s ease;
}

.muie {
    width: 548px;
    height: 180px;
    padding: 2px 2px 2px 2px;
    border-radius: 24px;
    background-image: linear-gradient(-240.78180928499373deg, #339933 0%, #3ce206 100%);
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.35);
    position: relative;
}
.molier {
    position: absolute;
    right: 70px;
    bottom: 0;
}

.txtmuie {
    display: none;
}

@media(max-width: 925px){ 
    .organiza {
        flex-direction: column-reverse;
    }
    .organiza article{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    body{
        background-color: gray;
    }
    .info_organizador {
        margin-left: 50px;
    }
}

@media(max-width: 600px){ 
    .organiza{
        margin-bottom: 50px;
        margin-top: 0;
        width: 100%;
    }
    .pratique-title {
        font-size: 3rem; 
    }
    .pratique-subtitle {
        font-size: 1.3rem; 
    }
    .info_organizador {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    body {
        background-color: red;

    }
    .txtmuie {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 30px;
        margin-top: 10px;
        width: 56%;
    }
    .txtmuie1{
        display: none;
    }
    .muie {
        width: 100%;
        height: 330px;
        display: flex;
        align-items: center;
    }
    .molier {
        position: absolute;
        right: -60px;
        bottom: 0;
    }
    .btn_solicitacao {
        width: 100%;
        margin-top: 15px;
        font-size: 18px;
    }
    .info_organizador {
        margin-left: 0;
    }
}
