@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css');


/* Seção de posts */
.secao-boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px; 
    padding: 30px;
}

/* Box dos posts */
.box {
    position: relative;
    background-color: #ffffff; 
    border-radius: 20px; 
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
    min-height: 300px; 
}

.box:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); 
}

/* Imagem principal */

.imagem-post {
    width: 100%;
    height: 240px; 
    object-fit: cover; 
    border-radius: 15px; 
    z-index: 1;
    transition: opacity 0.3s ease;
}

.box:hover .imagem-post {
    opacity: 0.85; 
}


.conteudo-box {
    padding: 10px;
    text-align: left; 
}

.informacoes-usuario {
    display: flex;
    align-items: center;
}

.foto-usuario {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
    transition: border-color 0.3s ease;
}

.nome-post {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    color: #333;
    transition: color 0.3s ease;
}


.dados-post {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #777; 
    text-align: center;
}

.link-post {
    position: relative;
    z-index: 1;
}


.link-usuario {
    z-index: 1; 
    position: relative;
}


.box:hover .conteudo-box {
    transform: scale(1.05);
}
