@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css');

/* Texto pratique */

.pratique-title {
    font-size: 4.5rem; 
    color: #28a745; 
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: fadeInDown 1s ease-out;
}


.pratique-subtitle {
    font-size: 1.4rem; 
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    color: #6d6d6d; 
    margin-bottom: 50px; 
    animation: fadeInUp 1s ease-out;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  @keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
  

/* localização */

.filtro-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #fff;
    padding: 20px; 
    padding-bottom: 10px;
    border-radius: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    max-width: 93%; 
    margin: 10px auto;
    animation: fadeIn 1.5s ease-out;
    flex-wrap: wrap; 
    transition: transform 0.3s ease;
}

.filtro-container:hover {
    transform: translateY(-5px); /* Animação de hover para elevar o container */
}

.input-localizacao {
    flex-grow: 2;
    border: 1px solid #ccc;
    padding: 25px;
    border-radius: 15px;
    color: #727272;
    margin-right: 15px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-localizacao:focus {
    border-color: #4caf50; /* Destaque verde ao focar */
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
}

.select-container {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
}

.select-container label {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #333;
    margin-bottom: 5px;
    font-weight: 500;
}

select, .input-data {
    border: 1px solid #ccc;
    border-radius: 15px;
    color: #727272;
    padding: 25px;
    margin: 10px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    outline: none;
    min-width: 150px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

select:focus, .input-data:focus {
    border-color: #4caf50;
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
}


select {
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg fill="none" stroke="%23666" stroke-width="3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M6 9l6 6 6-6"/></svg>') no-repeat right 10px center;
    background-color: #fff;
    background-size: 12px;
    padding-right: 40px;
}

select:hover, .input-data:hover, .input-localizacao:hover {
    border-color: #4caf50;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.4);
}

.input-data {
    padding-right: 30px;
    background: none;
}

@media (max-width: 900px) {
    .filtro-container {
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }

    .input-localizacao {
        margin-bottom: 15px;
        width: 80%;
    }

    .select-container {
        margin-left: 0;
        width: 100%;
    }
}


/* BOX locais */

.container {
    width: 100%; 
    max-width: 99%; 
    margin: 40px 0;
    display: flex;
    gap: 30px;
}

.locais-box {
    width: 28%;
    margin-left: 50px;
    background-color: #fff;
    border: 1px solid #E8E8E8;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map-box {
    width: 60%;
    margin-right: 30px;
    background-color: #fff;
    border: 1px solid #E8E8E8;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.map-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}

.map {
    width: 100%;
    height: 700px;
    border-radius: 12px;
}

h2 {
    font-size: 28px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #2D2D2D;
}

.card {
    display: flex;
    align-items: left;
    border-radius: 25px;
    background-color: #fff;
    border: 1px solid #E8E8E8; 
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 17px;
}

.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 300px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 30px;
    border-radius: 25px;
}

.info {
    flex: 1;
}

.info h3 {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 15px;
    margin-left: 10px;
    color: #2D2D2D;
}

.info p {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #727272;
}

.botao {
    padding: 12px 22px;
    border: 2px solid #28a745;
    background-color: #fff;
    color: #28a745;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    border-radius: 50px;
    margin-left: 10px;
    font-size: 16px;
    width: 210px;
    margin-right: 15px;
    cursor: pointer;
    transition: all 0.3s;
    transition: all 0.3s ease; 
}

.botao:hover {
    background-color: #28a745;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* responsividade */

