/* PRATIQUE */

.container1 {
    display: flex;
    width: 100%;
    max-width: 1400px;
    margin: 1rem;
    margin-top: 50px;
}

/* localização */

.localizacao {
flex: 1.5;
margin: 0 1rem;
max-height: 80vh;
margin-top: 50px;
}

.localizacaosecao {
display: flex;
align-items: flex-start;
background-color: #f4f4f4;
padding: 1rem;
width: 400px;
margin-bottom: 1rem;
border-radius: 8px;
}

.localizacaosecao img {
max-width: 160px;
margin-right: 1rem;
border-radius: 8px;
height: 160px;
}

.info {
flex: 1;
}

.avaliacao {
color: gold;
font-size: 1.2rem;
}

/* mapa */

.map-container {
flex: 2;
margin: 0 1rem;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 30px;
margin-left: 450px;
}

.map-container h2 {
margin: 0;
padding: 1rem 0;
width: 100%;
text-align: center;
}

.directions-btn {

    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 0.5rem;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.directions-btn:hover {
background-color: #45a049;
}

#map {
width: 1500%;
height: 500px;
background-color: #ddd;
margin-top: 10px;
}

.textomapa{
margin-top: 50px;
margin-left: 10px;
}

.Mapatexto {
margin: auto;
margin-left: 50px;
}

/* FIltros */

.filtros input, .filtros select {
width: 100%;
padding: 0.5rem;
border: 1px solid #ccc;
border-radius: 4px;
transition: border-color 0.3s;
}

.filtros {
margin-top: 50px;
}

.icon {
width: 24px;
vertical-align: middle;
margin-right: 8px;
}

.filtros {
margin-bottom: 1rem;
}

.filtros label {
display: block;
margin-bottom: 0.5rem;
font-weight: bold;
}

.localizacaosecao-filtros {
flex: 1;
margin: 0 1rem;
max-height: 80vh;
margin-top: 90px;
margin-left: 450px;
width: 1000px;
background-color: #f9f9f9;
border-radius: 8px;
border: 1px solid #ddd;
padding: 2rem;
}

.localizacaosecao-filtros h2 img {
margin-right: 0.5rem;
}

.localizacaosecao-filtros h2 {
font-size: 1.5rem;
margin-bottom: 1rem;
display: flex;
align-items: center;
}

.filtros input:focus, .filtros select:focus {
border-color: #4CAF50;
outline: none;
}

select, input[type="date"] {
    padding: 10px;
    margin-top: 5px;
    display: block;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease-in-out;
}

select {
    appearance: none;
    background-image: url('date:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
}