*{
    margin:0px;
    padding:0px;
    font-family:"Open Sans", sans-serif;
}

:root {
    --verde_especial: #339933;
    --preto: #1b1b1b;
    --branco: white;
    --brancopost: #f1eded;
    --brancobg:rgb(226, 221, 221);
}

/*BODY*/

body {
    background-color: var(--brancobg);
}



/*NAV BAR*/

.header img{
    width: 70px;
}

.header li a{
    text-decoration: none;
    color: var(--branco);
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s;
}

.header li a:hover{
    font-size: 22px;
    
}

.header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}
.header li {
    margin: 10px;
    align-self: center;
}

.header {
    position: absolute;
    top: 0;
    background-color: var(--verde_especial);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.header button{
    border: none;
    background-color: transparent;
    float: center;
}

  /*SUBNAV*/

.header_subscription{
    position: absolute;
    width: 100%;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    top: 73px;

    a {
        padding: 0;
        text-align: center;
        color: black;
        float: center;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
    }
}


/*LOGIN*/

.login {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.login a {
    margin-right: 5px;
    color: var(--branco);
    text-decoration: none;
    color: var(--branco);
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s;
}

/*HERO BANNER*/

.hero img {
    width: 100%;
    padding: 0px;
    margin:0px;
}

.hero nav img {
    width:50px;
}

.hero nav {
    background-color: var(--preto);
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.hero #nick_user{
    align-self: center;
    text-decoration: none;
    color: var(--branco);
    font-size: 16px;
    padding-left:10px;
}

.hero {
    background-color: var(--preto);
    margin-bottom: 3px;
}

.hero section {
    display: flex;
    align-items: center;
    color: var(--branco);
    margin-bottom:3px;
    margin-inline: 10px;
}

.hero h2 {
    color:var(--branco);
}

/*FOOTER*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    color: var(--branco);
    background-color: var(--verde_especial);
    padding: 0 20px;
}

footer h2, footer h3 {
    color: var(--branco);
    margin: 0;
}

footer img {
    max-width: 100px;
    height: 100px;
    margin-left: 200px;
}

/*ICONES*/

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;

    color: var(--branco);
    margin-left: 93%;
}

.postspage .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    color: var(--preto);
    margin-left:10px;
  }
  
  /*MEDIA*/

@media (max-width: 480px){
    .header img{
        width: 50px;
    }

    .header li a{
        font-size: 12px;
        font-weight: bold;
    }
    .header li a:hover{
        font-size: 14px;
    }


}


@media (max-width: 1200px) {
    .post {
        flex: 1 0 28%; /* Ajuste para garantir 3 colunas em telas menores */
    }
}

@media (max-width: 900px) {
    .post {
        flex: 1 0 45%; /* Ajuste para garantir 2 colunas em telas menores */
    }
}

@media (max-width: 600px) {
    .post {
        flex: 1 0 100%; /* Ajuste para garantir 1 coluna em telas menores */
    }
}

@media (max-width: 768px) {
    .planos-section {
        flex-direction: column;
        align-items: center;
    }
}

/*POSTS*/

body {
    font-family: Arial, sans-serif;
}

.tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post {
    flex: 1 0 21%;
    margin: 1%;
    background-color: #f4f4f4;
    border: 0.5px solid #ccc;
    padding: 15px 15px 5px 15px;

    box-sizing: border-box;
    text-align: center;
    border-radius: 15px;
    position: relative;
}

.invisible-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 1;
}


.post img.post-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 1px;
    padding-bottom: 0px;
    margin-bottom: 5px;
    z-index: 0;
}

.post-detalhes {
    display: flex;
    align-items: left;
    margin-bottom: 1px;
    z-index: 0;

    h3{
        text-align: left;
    }
}

.post-detalhes img.user-image {
    width: 70px;
    justify-items: left;
    justify-content: left;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
    z-index: 0;
}

.post-details h3 {
    margin: 0;
    font-size: 1.10em;
    font-weight: bold;
    text-align:justify;
    z-index: 0;
}

.post-details .user-info {
    font-size: 0.9em;
    color: #666;        
    text-align: left;
    margin-top: 1px;
    z-index: 0;
}

.user-info {
    text-align: left;
}

.postagens {
    font-weight: bold;
    margin-left: 60px;
    margin-top: 50px;
    margin: 0;
    margin-right: 850px;
    font-size: x-large;
    z-index: 0;
}

.search-bar {
    padding: 5px;
    font-size: 16px;
    width: 35%;
    z-index: 0; 
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
}


.barrapesquisa {
    margin-top: 30px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    z-index: 0; 
    
}

/* EVENTOS */

.Eventos1 {
    margin-top: 110px;
    text-align: center;
}

.text {
    margin-right: 70px;
    text-align: center;
}

select, input[type="date"] {
    padding: 10px;
    margin-top: 5px;
    display: block;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease-in-out;
}

.Eventospage {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    width: 100%;
    padding: 0.1px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.filtros1 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.left-filtros, .right-filtros {
    display: flex;
    flex-direction:row;
    margin-right: 30px;
}

.left-filtros{
    margin-left: 30px;
}

select:focus, input[type="date"]:focus {
    outline: none;
    border-color: green;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

.evento-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.evento {
    border: 0.3px solid #ccc;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    margin: 5%;
}

.evento img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.evento-name {
    font-weight: bold;
    margin-top: 10px;
}

.evento-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.evento-info button {
    padding: 5px 10px;
    border: none;
    background-color: var(--verde_especial);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

select {
    appearance: none;
    background-image: url('date:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
}

select:hover, input[type="date"]:hover {
    border-color: #888;
}



/* PRATIQUE */

.container1 {
        display: flex;
        width: 100%;
        max-width: 1400px;
        margin: 1rem;
        margin-top: 50px;
}

/* localização */

.localizacao {
    flex: 1.5;
    margin: 0 1rem;
    max-height: 80vh;
    margin-top: 50px;
}

.localizacaosecao {
    display: flex;
    align-items: flex-start;
    background-color: #f4f4f4;
    padding: 1rem;
    width: 400px;
    margin-bottom: 1rem;
    border-radius: 8px;
}

.localizacaosecao img {
    max-width: 160px;
    margin-right: 1rem;
    border-radius: 8px;
    height: 160px;
}

.info {
    flex: 1;
}

.avaliacao {
    color: gold;
    font-size: 1.2rem;
}

/* mapa */

.map-container {
    flex: 2;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-left: 450px;
}

.map-container h2 {
    margin: 0;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
}

.directions-btn {

        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        border-radius: 4px;
        margin-top: 0.5rem;
        text-decoration: none;
        display: inline-block;
        text-align: center;
    }

.directions-btn:hover {
    background-color: #45a049;
}

#map {
    width: 1500%;
    height: 500px;
    background-color: #ddd;
    margin-top: 10px;
}

.textomapa{
    margin-top: 50px;
    margin-left: 10px;
}

.Mapatexto {
    margin: auto;
    margin-left: 50px;
}

/* FIltros */

.filtros input, .filtros select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.filtros {
    margin-top: 50px;
}

.icon {
    width: 24px;
    vertical-align: middle;
    margin-right: 8px;
}

.filtros {
    margin-bottom: 1rem;
}

.filtros label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.localizacaosecao-filtros {
    flex: 1;
    margin: 0 1rem;
    max-height: 80vh;
    margin-top: 90px;
    margin-left: 450px;
    width: 1000px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 2rem;
}

.localizacaosecao-filtros h2 img {
    margin-right: 0.5rem;
}

.localizacaosecao-filtros h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.filtros input:focus, .filtros select:focus {
    border-color: #4CAF50;
    outline: none;
}

/* SPORT+ */

.container3 {
    text-align: center;
    width: 100%;
}

.hero-content {
    margin-bottom: 20px;
}

.logo-and-text {
margin-right: 80px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    max-width: 100px;
    margin-right: 10px;
}

.preco {
    font-size: 1.5em;
    margin-top: 10px;
    margin-right: 70px;
    text-align: center;
    font-weight: bold;
}


.planos-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.plano-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 350px;
    height: 450px;
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    justify-content: space-between;
}

.plano-box h2 {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 20px;
}

.plano-box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 1.2em;
    flex-grow: 1;
    display: flex;
    font-weight: bold;
    flex-direction: column;
    justify-content: space-around;
}

.plano-box ul li {
    margin-bottom: 10px;
}

.plano-box .preco-month, .plano-box .preco-year {
    font-size: 1.4em;
    font-weight: bold;
    color: #007BFF;
    margin-bottom: 10px;
}

.escolher-plano {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.escolher-plano:hover {
    background-color: #0056b3;
}

.recomendado {
    border: 2px ;
    transform: scale(0.8.0.8);
    width: 350px;
    height: 450px;
    margin-bottom: -10px; 
}

/* INFORMAÇÔES DOS POSTS */

.container4 {
    width: 100%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
}

.main-content {
    flex: 3;
    margin-right: 20px;
    margin-top: 180px;
}

/* INFORMAÇÔES POST */

.post-header {
    display: flex;
    flex-direction: column;
}

.post-image {
    width: 50%;
    border-radius: 50px;
    max-height: 400px; /* Definir altura máxima */
    overflow: hidden; /* Esconder qualquer conteúdo excedente */
    margin-bottom: 20px;
}

.post-image img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Manter a proporção e cortar o excesso */
}

.post-info-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-info {
    width: 100%;
}

.post-info h2 {
    margin: 0 0 10px 0;
}

.likes {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.likes i {
    margin-right: 5px;
}

.post-meta {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

/* CRIADOR CONTEUDO */

.creador-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.creador-info img {
    border-radius: 50%;
    margin-right: 10px;
}

/* SEGUIDORES */

.seguidor-info {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.seguidor-info button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* POSTS ANTERIORES */

.antigo-posts-box, .comentarios-section-box {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 150px;
    margin-right: 50px;
}

.antigo-posts-box {
    flex: 2;
    margin-right: 20px;
}

.antigo-posts-box h3 {
    margin-bottom: 20px;
}

.antigo-post {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.antigo-post-image {
    width: 200px;
    height: 100px;
    margin-right: 15px;
}

.antigo-post-image img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Manter a proporção e cortar o excesso */
}

.antigo-post-info {
    flex-grow: 1;
}

.antigo-post-info h4 {
    margin: 0;
}
/* COMENTARIOS */
.comentarios-section-box h3 {
    margin-bottom: 10px;
}

.comentario-count {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.comentarios-section-box {
    flex: 1;
}


.comentario-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.comentario-form textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.comentario-form button {
    align-self: flex-end;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.comentarios {
    display: flex;
    flex-direction: column;
}

.comentario {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.comentario img {
    border-radius: 50%;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    object-fit: cover; /* Manter a proporção e cortar o excesso */
}

.comentario-info {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 3px;
    flex-grow: 1;
}

.comentario-info span {
    font-weight: bold;
}

.comentario-info p {
    margin: 5px 0 0 0;
}


/* INFORMAÇÔES DO EVENTO */

.main-container {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 120px   ;
    border-radius: 50px;
}

.banner {
    background-image: url('/imagens/eventobanner.png');
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
    color: white;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    border-radius: 50px;
}

.banner2{
    background-image: url('/imagens/bannerevento2.png');
    background-size: cover;
    background-position: center;
    height: 800px;
    position: relative;
    color: white;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    border-radius: 50px;
}

.evento-details {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.evento-details h1 {
    margin: 0;
    font-size: 36px;
}

.evento-info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Icones */

.icones {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.icones img {
    width: 35px;
    margin-right: 10px;
    border-radius: 50%;
}

.social-icones {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 15px 0;
    margin-right: 10px;
}

.social-icones img {
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

/* seçoes */

.esquerda-secao {
    width: 60%;
}

.esquerda-secao h2 {
    margin-top: 20px;
}

.direita-secao {
    width: 30%;
    text-align: center;
    margin-top: -2000px;
}

/* INSCREVER-SE */

.inscrever-info p {
    margin: 20px 0;
}

.inscrever-button, .contato-button {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    background-color: var(--verde_especial);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 25px;
}

.inscrever-button:hover, .contact-button:hover {
    background-color: #0056b3;
}

/* EVENTOS RELACIONADOS */

.relacionado-eventos {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 50px;
}

.relacionado-eventos {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 50px;
}

.relacionado-evento {
    background-color: white;
    text-align: center;
    width: 30%;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    position: relative;
}

.relacionado-evento img {
    width: 100%;
    border-radius: 5px;
}

.relacionado-evento p {
    margin: 10px 0;
}

.invisible-button1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    text-decoration: none;
}

/* LETRAS */

p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    margin: 10px 0;
}

strong {
    color: #333;
}

/* Loguin */

.main_login {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.container5 {
    background-color: whitesmoke;
    padding: 6px;
    width: 380px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 darkgrey;
    margin-top: 7.5%;
    font-size: 20px;
}

form {
    position: absolute;
    margin-top: 80px;
    transition: .5s;
    width: 300px;
    height: 400px;
    font-size: 20px;
}

.buttonsForm {
    margin-top: 40px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 0 7px 0 var(--preto);
}

.buttonsForm button {
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
    padding: 10px 29px;
}

.btnColor {
    position: absolute;
    width: 108px;
    height: 100%;
    background: var(--verde_especial);
    border-radius: 30px;
    transition: .3s;
}

input[type="text"], input[type="password"] {
    border: none;
    margin-top: 40px;
    border-radius: 60px;
    padding: 8px 0 8px 35px;
    outline: none;
    width: 100%;
}

#enviar_login {
    background: var(--verde_especial);
    color: white;
    border-radius: 30px;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0 8px 4px;
    font-size: 15px;
    margin-top: 40px;
    cursor: pointer;
}

.divCheck {
    margin: 10px 0 0 5px;
    width: 80%;
    font-size: 13px;
}

#signin {
    left: 25px;
}

#signup {
    left: 450px;
}

i {
    position: absolute;
    left: 0;
    padding: 10px 10px;
}

.iEmail {
    top: 40px;
}

.iPassword {
    top: 114px;
}

.iPassword2 {
    top: 190px;
}

.outras {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.outras button {
    background-color: var(--branco);
    height: 60px;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: var(--preto) 1px solid;
    border-radius: 20px;
    padding-top: 5px;
    cursor: pointer;
}
.google img {
    height: 45px;
}
.microsofiti img {
    height: 45px;
}

/* Perfil (Editavel e tals) */

.perfil1 {
    margin-top: 99px;
}

.ftdePerfil {
    height: 144px;
    width: 144px;
}

.nomes {
    margin-left: 15px;
    margin-right: 15px;
}

.perfilo {
    display: flex;
    flex-direction: row;
    align-items: self-end;
    position: absolute;
    left: 10px;
    top: 200px;
}

.planoFundo{
    position: relative;
}

.planodefundo{
    height: 359px;
    width: 100%;
}

.editPerf {
    position: absolute;
    right: 15px;
    top: 320px;
    background-color: var(--preto);
    color: var(--branco);
    border-radius: 15px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}

.biografia {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.biografia p {
    font-size: 17px;
    font-weight: bold;
}

.linquis {
    display: flex;
    flex-direction: column;
}

.linquis button {
    height: 67px;
    width: 100px;
    cursor: pointer;
    background-color: var(--cinza);
    border: none;
}

.linquis h2 {
    float: right;
}

.social {
    display: flex;
    flex-direction: row;
}

.twitter img {
    height: 52px;
    width: 52px;
}

.instagram {
    margin-left: 10px;
    margin-right: 10px;
}

.instagram img {
    height: 56px;
    width: 56px;
}

.youtube img {
    height: 56px;
    width: 79px;
}

.editPerfil {
    height: 600px;
    width: 1200px;
    background-color: gray;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    
}
.editinfo input[type="text"] {
    border: none;
    margin-top: 20px;
    border-radius: 60px;
    padding: 8px 0 8px 35px;
    outline: none;
    width: 100%;
    font-size: 18px;
}

.perfiledit {
    height: 150px;
    width: 150px;
}
.upload {
    height: 75px;
    width: 75px;
    cursor: pointer;
}
.editinfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
.editinfo aside{
    margin-left: 50px;
    margin-right: 50px;
}

.socialedit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 15px;
}
.socialedit aside {
    margin-left: 80px;
    margin-right: 80px;
}

.fundo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 50px;
}
.planodefundoedit{
    height: 200px;
    width: 1000px;
}

.opicoes {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.salvar {
    border: none;
    color: var(--branco);
    margin-top: 20px;
    border-radius: 60px;
    padding: 10px 20px 10px 20px;
    outline: none;
    font-size: 18px;
    background-color: var(--verde_especial);
    margin-bottom: 10px;
    cursor: pointer;
    position: absolute;
    right: 30px;
    bottom: 2px;
}

.botoes button {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.adicionarPost {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.adicionarPost img {
    height: 35px;
    width: 35px;
}
#adpost {
    font-size: 17px;
}

.postagensPerfil {
    display: block;
} 
.curtidosPerfil{
    display: none;
}
.timePerfil{
    display: none;
    flex-direction: row;
}

#botaoPostagens {
    color: var(--preto);
}
#botaoCurtidos {
    color: var(--cinza);
}
#botaoTime {
    color: var(--cinza);
}

.timeMBR {
    display: flex;
    flex-direction: row;
}

.ftMBR {
    display: flex;
    align-items: center;
    margin: 10px;
}
.textoMBR {
    margin-left: 15px;
}

.tabela, th, td{
    border-collapse: collapse; /*define a separação entre as bordar*/
    padding: 10px;
    text-align: left;
    border: 1px sold var(--cinza);
}
th{
    background-color: lightgray;
}

.imagensJogadores {
    width: 1200px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}
.imagensJogadores aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jogadores {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
}

.treinadores {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.tecnicos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.tecnicos aside {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
