<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assinatura Falhou</title>
    <link rel="stylesheet" href="/css/assinatura-falhou.css">
    <link rel="icon" href="imagens/SportAgora.png">
</head>

<body>
 <header>
    <%- include('../partials/navbar'); %> 
    </header>


    <main class="main_assinatura">
        <section class="sec">
          <section class="info_assinatura">
            <article class="icon_check" aria-hidden="true">
              <img src="imagens/rejeitado-icon.png" alt="" />
            </article>
            <h1>Assinatura falhou!</h1>
            <p>
              Ocorreu um problema ao processar sua assinatura.<br>
              Por favor, tente novamente mais tarde ou entre em contato com o suporte.<br>
              Agradecemos a sua compreensão.
            </p>
            <section class="btn_group">
              <button class="btn_solicitacao btn_primary" onclick="location.href='/home'">Voltar para o Início</button>
              <button class="btn_solicitacao btn_secondary" onclick="location.href='/contato'">Contato</button>
            </section>
          </section>
        </section>
      </main>
      
    <%- include('../partials/footer'); %>   
</body>
</html>
