<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Criação De Post</title>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/criar-evento.css">
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
  <link rel="icon" href="imagens/SportAgora.png">
  <script defer src="/js/script.js"></script>
</head>

    <header>
        <%- include('../partials/navbar'); %> 
    </header> 

<body>
  <header class="container-ver-eventos">
    <button class="botao-seta" onclick="location.href='/organizador'">
      <img src="/imagens/left-arrow.png" alt="Seta">
    </button>
    <span class="ver-eventos">Voltar</span>
  </header>

  <main>
    <form id="evento-form">

      <section class="container">
        <h1>1. Informações básicas</h1>
        <p class="subtitle">Adicione as principais informações do post.</p>

        <label>Nome do post *</label>
        <input type="text" id="nome-post" maxlength="100" required>

        <label>Imagem de divulgação</label>
        <figure class="image-upload" id="image-drop">
          <figcaption id="image-text">Clique ou arraste a imagem aqui</figcaption>
          <input type="file" accept="image/*" id="image-input" style="display:none;">
          <img id="image-preview" src="" alt="Preview" style="display:none; max-width: 100%; margin-top: 10px;">
        </figure>

        <article class="classification">
          <legend class="visually-hidden">Classificação do post</legend>

          <section>
            <label>Assunto *</label>
            <select required>
              <option value="">Selecione</option>
              <option>Futebol</option>
              <option>Basquete</option>
              <option>Vôlei</option>
            </select>
          </section>

          <section>
            <label>Sobre *</label>
            <select>
              <option value="">Selecione</option>
              <option>Noticia</option>
              <option>Meme</option>
              <option>Curiosidade</option>
            </select>
          </section>
        </article>
      </section>

      <section class="container">
        <h1>2. Descrição do Post</h1>
        <p class="subtitle">Conte todos os detalhes do seu evento, como a programação e os diferenciais da sua produção!</p>

        <section id="editor-container">
          <section id="toolbar">
            <span class="ql-formats">
              <select class="ql-font"></select>
              <select class="ql-size"></select>
            </span>
            <span class="ql-formats">
              <button class="ql-bold"></button>
              <button class="ql-italic"></button>
              <button class="ql-underline"></button>
              <button class="ql-strike"></button>
            </span>
            <span class="ql-formats">
              <select class="ql-color"></select>
              <select class="ql-background"></select>
            </span>
            <span class="ql-formats">
              <button class="ql-list" value="ordered"></button>
              <button class="ql-list" value="bullet"></button>
              <button class="ql-indent" value="-1"></button>
              <button class="ql-indent" value="+1"></button>
            </span>
            <span class="ql-formats">
              <button class="ql-link"></button>
              <button class="ql-image"></button>
              <button class="ql-video"></button>
            </span>
            <span class="ql-formats">
              <button class="ql-clean"></button>
            </span>
          </section>

          <section id="editor" style="height: 300px;"></section>
        </section>

                <section class="center">
          <button class="publicar-button"type="submit" id="publicar-evento">Publicar evento</button>
        </section>

      </section>

    </form>
  </main>

  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  <script src="/js/criar-evento.js"></script>


    <%- include('../partials/footer'); %>


</body>
</html>
