<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SportAgora</title>
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/post.css">
        <link rel="stylesheet" href="/css/erro.css">
        <link rel="stylesheet" href="/css/erroAssinatura.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/base.css">
        <script src="js/darkmodeswitch.js"></script>
        <link rel="icon" href="/imagens/SportAgora.png">
    </head>

<body>
    <section class="erroDireitaEsquerda">
        <section class="erroEsquerda">
            <h1>OH NÃO!</h1>
            <img src="/imagens/.png" alt="imagem de erro">
        </section>
        <section class="erroDireita">
            <h1>ERRO: <br><a href="#"class="corErro">Não foi Efetuada a Assinatura</a></h1>
            <h3></h3>
             <h3>Tente novamente mais tarde. <!--<a href="#" class="corErro">suporte@sportagora.com</a>--></h3> 
            <aside class="voltarHome">
                <a href="/">
                    <img src="/imagens/casa.png" alt="imagem de home">
                    <a href="/" class="voltar">Voltar para a página inicial</a>
                </a>
            </aside>
        </section>
    </section>
</body>
</html>
