<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SportAgora</title>
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/post.css">
        <script src="js/darkmodeswitch.js"></script>
        <link rel="icon" href="imagens/SportAgora.png">
    </head>

<body>
    <%- include('../partials/navbar'); %>

    <h1>ERRO 404</h1>

    <%- include('../partials/footer'); %>
</body>
</html>
