<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscrição Concluida</title>
    <link rel="stylesheet" href="/css/inscrito.css">
    <link rel="icon" href="imagens/SportAgora.png">
</head>
<body>
 <header>
    <%- include('../partials/navbar'); %> 
    </header>

    <main class="main_inscrito">  
        <section class="sec">
            <img src="/<%=evento.evento_foto%>" alt="Banner do evento" class="banner" />
            <article class="info_organizador">
                <h1>Sua inscrição foi bem sucedida!</h1>
                <p>
                    Parabéns! Sua inscrição para o evento foi realizada com sucesso.<br>
                    Estamos empolgados em tê-lo(a) conosco!<br>
                    Você conseguirá acompanhar em tempo real as estatísticas do seu evento.
                </p>
                <section class="btn_group">
                    <button class="btn_solicitacao btn_primary" onclick="location.href='/home'">Voltar para o Início</button>
                    <button class="btn_solicitacao btn_secondary" onclick="location.href='/evento?id=<%= evento.evento_id %>'">Informações do evento</button>
                </section>
            </article>
        </section>
    </main>
    

    <%- include('../partials/footer'); %>   
</body>
</html>
