<!DOCTYPE html>
<html lang="pt-br">
<head>

    <title>Sport x Náutico: onde assistir ao clássico na Copa do Nordeste</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/infopost.css">
    <link rel="icon" href="imagens/SportAgora.png">
  </head>

<body>

    <%- include('../partials/navbar'); %>

    <section class="container-ver-eventos">
      <button class="botao-seta" onclick="location.href='/home'">
          <img src="/imagens/left-arrow.png" alt="Seta"> </button>
      <span class="ver-eventos">Voltar para o início</span>
    </section>


    <section class="informacao-post">
        <section class="box-post">
          <h1 class="titulo-post">Sport x Náutico: onde assistir ao clássico na Copa do Nordeste</h1>
          <article class="info-post">
            <p class="detalhes-post">Danzx • 19 / 11 / 2024 • 18:30</p>
            <article class="likes">
                <img class="coracao" src="/imagens/coracao.png" alt="Coração Verde">
              <span class="num-likes">152.78k likes</span>
            </article>
          </article>
          <img class="imagem-post" src="imagens/sport.jpg" alt="Imagem do Post">
          <p class="descricao-post">
            Sport e Náutico se enfrentam nesta quarta-feira (20) na Arena de Pernambuco em partida válida pela sexta rodada da Copa do Nordeste. <br>  O Leão é o líder do Grupo A com 10 pontos, enquanto o Timbu ocupa a quarta colocação do Grupo B com cinco pontos. <br><br> <strong>Confira a seguir onde assistir Sport x Náutico ao vivo.   <br> <br> Transmissão: TV Globo e ge; </strong> <br><br>
            Na partida mais recente, o Rubro-Negro se garantiu na final do Campeonato Pernambucano após vencer o Santa Cruz nos pênaltis no jogo de volta da semifinal. <br>  No tempo normal, a partida terminou empatada sem gols. Então, na decisão por pênaltis, o Sport acertou todas as cobranças, enquanto a equipe Coral perdeu uma.<br> 
          </p>
        </section>
        
        <section class="box-direita">

                    <section class="comentarios">

            <h3 class="titulo-comentarios">Comentários</h3>
            <p class="numero-comentarios">123 comentários</p>
        <article class="form-comentario">
            <textarea class="campo-comentario" placeholder="Escreva seu comentário"></textarea>
            <button class="botao-enviar">Enviar</button>
        </article>
      
            <section class="box-comentario">
              <img class="foto-usuario" src="imagens/pessoa.png" alt="Foto do Usuário">
              <article class="info-comentario">
                <p class="nome-usuario">Pelé Narreto</p>
                <p class="texto-comentario">Palmeiras não tem mundial</p>
              </article>
            </section>
            <section class="box-comentario">
                <img class="foto-usuario" src="imagens/pessoa.png" alt="Foto do Usuário">
                <article class="info-comentario">
                  <p class="nome-usuario">Pelé Narreto</p>
                  <p class="texto-comentario">Palmeiras não tem mundial</p>
                </article>
            </section>
            <!-- Repetir box de comentário -->
          </section>

          <section class="box-criador">
            <img class="foto-criador" src="imagens/pessoa1.jpg" alt="Foto do Criador">
            <article class="info-criador"  onclick="location.href='/perfilex'">
              <h2 class="nome-criador">Kawan Barreto</h2>
              <p class="seguidores">123.45 mil seguidores</p>
              <button class="seguir">Seguir</button>
            </article>
            <section class="posts-anteriores">
              <section class="box-mini-posts">
                <article class="mini-box">
                  <img class="imagem-mini-post" src="imagens/evento1.jpeg" alt="Post Anterior">
                  <article class="info-mini-post">
                    <p class="nome-mini-post">Campeonato de lei com os criat</p>
                    <article class="likes-mini-post">
                <img class="coracao-mini" src="/imagens/coracao.png" alt="Coração">
                      <span class="num-likes-mini">152.78 mil curtidas</span>
                    </article>
                  </article>
                </article>
                <article class="mini-box">
                    <img class="imagem-mini-post" src="imagens/evento2.jpeg" alt="Post Anterior">
                    <article class="info-mini-post">
                      <p class="nome-mini-post">Campeonato de lei com os criat</p>
                      <article class="likes-mini-post">
                  <img class="coracao-mini" src="/imagens/coracao.png" alt="Coração">
                        <span class="num-likes-mini">152.78 mil curtidas</span>
                      </article>
                    </article>
                  </article>
                  <article class="mini-box">
                    <img class="imagem-mini-post" src="imagens/evento3.jpeg" alt="Post Anterior">
                    <article class="info-mini-post">
                      <p class="nome-mini-post">Campeonato de lei com os criat</p>
                      <article class="likes-mini-post">
                  <img class="coracao-mini" src="/imagens/coracao.png" alt="Coração">
                        <span class="num-likes-mini">152.78 mil curtidas</span>
                      </article>
                    </article>
                  </article>
                <!-- Repetir mini-box 3 vezes -->
              </section>
              <button class="ver-publicacoes" onclick="location.href='/perfilex'"> Veja todas as publicações</button>
            </section>
          </section>

    </section>
      </section>

  <%- include('../partials/footer'); %>

</body>
</html>
