<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/imagens/SportAgora.png">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/infopost.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Informações post</title>

</head>
<body>
    <%- include('../partials/navbar'); %>

    <body>
        <div class="container">
            <div class="main-content">
                <div class="post-header">
                    <div class="post-image">
                        <img src="/imagens/futebol.png" alt="Imagem do Post">
                    </div>
                    <div class="post-title-meta">
                        <h2>As melhores jogadas do futebol</h2>
                        <div class="post-meta">
                            <span class="post-time">Publicado há 5 horas</span>
                            <div class="likes">
                                <span class="like-count"> 152.78 mil curtidas</span>
                                <span class="heart">&#10084;</span>
                            </div>
                        </div>
                    </div>
                    <div class="post-info">
                        <p>Pellentesque sit amet elit eu nisl mattis suscipit. Donec placerat urna in massa suscipit, eu eleifend nisl lobortis. Donec tempus ante vel laoreet cursus. Cras justo dui, imperdiet vitae leo nec, egestas iaculis sapien. Duis aliquet congue sem eu porttitor. Donec accumsan diam neque, sit amet molestie ex pulvinar quis. In ac placerat risus. Donec vel ligula quis eros pellentesque posuere. Vivamus eget erat mollis enim dignissim vulputate ac nec dolor. Fusce eget risus et justo porttitor semper quis ut mi. Sed convallis, odio in hendrerit auctor, velit massa consectetur lacus, eget hendrerit sem sapien maximus dui. Pellentesque ultricies, tortor id dapibus malesuada, nisi nisi sollicitudin elit, a fermentum erat felis non lectus. Mauris dignissim, nibh a eleifend efficitur, elit leo sollicitudin justo, ullamcorper sagittis elit augue sit amet tortor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin accumsan tortor a tellus tempor, at ornare nibh dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit facilisis neque vitae auctor. Sed a ligula sed lacus cursus eleifend. Phasellus at dignissim metus. Nulla dictum eget elit congue ultrices. Maecenas et enim at mi interdum iaculis a sed lacus. Vestibulum sed ipsum vel nisi dapibus mollis quis fermentum nisl. Donec metus neque, dictum et tellus id, luctus egestas felis. Mauris ac ultrices tellus.</p>
                    </div>
                </div>
            </div>
    
            <div class="creador-and-antigo-posts">
                <div class="creador-info">
                    <img src="imagens/pessoa1.jpg" alt="Criador" width="50">
                    <div class="creador-details">
                        <span>Nome do Criador</span>
                        <span class="followers">123.45 mil seguidores</span>
                    </div>
                    <button class="follow-btn">Seguir</button>
                </div>
    
                <div class="antigo-posts-box">
                    <h3>Do mesmo usuário</h3>
                    <div class="antigo-post">
                        <img src="imagens/evento1.jpeg" alt="Imagem do Post" class="antigo-post-image">
                        <div class="antigo-post-info">
                            <h4>Torneio valendo coca 2 litros</h4>
                            <div class="likes">
                                <span class="heart">&#10084;</span>
                                <i class="fas fa-thumbs-up"></i> 152.78 mil curtidas
                            </div>
                        </div>
                    </div>
                    <div class="antigo-post">
                        <img src="imagens/evento1.jpeg" alt="Imagem do Post" class="antigo-post-image">
                        <div class="antigo-post-info">
                            <h4>Torneio valendo coca 2 litros</h4>
                            <div class="likes">
                                <span class="heart">&#10084;</span>
                                <i class="fas fa-thumbs-up"></i> 152.78 mil curtidas
                            </div>
                        </div>
                    </div>
                    <div class="antigo-post">
                        <img src="imagens/evento1.jpeg" alt="Imagem do Post" class="antigo-post-image">
                        <div class="antigo-post-info">
                            <h4>Torneio valendo coca 2 litros</h4>
                            <div class="likes">
                                <span class="heart">&#10084;</span>
                                <i class="fas fa-thumbs-up"></i> 152.78 mil curtidas
                            </div>
                        </div>
                    </div>
                    <!-- Repita a estrutura acima para outros posts -->
                </div>
            </div>
    
            <div class="comentarios-section-box">
                <h3>Comentários</h3>
                <div class="comentario-count">123 comentários</div>
                <div class="comentario-form">
                    <textarea placeholder="Digite seu comentário..."></textarea>
                    <button>Enviar</button>
                </div>
                <div class="comentarios">
                    <div class="comentario">
                        <div class="comentarioer-info">
                            <img src="imagens/pessoa2.png" alt="Comentador" class="comentarioer-image">
                            <div class="comentarioer-name">Bebel gaymer</div>
                        </div>
                        <div class="comentario-text">
                            <p>Palmeiras não tem mundial</p>
                        </div>
                    </div>
                    <div class="comentario">
                        <div class="comentarioer-info">
                            <img src="imagens/pessoa2.png" alt="Comentador" class="comentarioer-image">
                            <div class="comentarioer-name">Bebel gaymer</div>
                        </div>
                        <div class="comentario-text">
                            <p>Palmeiras não tem mundial</p>
                        </div>
                    </div>
                    <div class="comentario">
                        <div class="comentarioer-info">
                            <img src="imagens/pessoa2.png" alt="Comentador" class="comentarioer-image">
                            <div class="comentarioer-name">Bebel gaymer</div>
                        </div>
                        <div class="comentario-text">
                            <p>Palmeiras não tem mundial</p>
                        </div>
                    </div>
                    <div class="comentario">
                        <div class="comentarioer-info">
                            <img src="imagens/pessoa2.png" alt="Comentador" class="comentarioer-image">
                            <div class="comentarioer-name">Bebel gaymer</div>
                        </div>
                        <div class="comentario-text">
                            <p>Palmeiras não tem mundial</p>
                        </div>
                    </div>
                    <!-- Repita a estrutura acima para outros comentários -->
                </div>
            </div>
        </div>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </body>

    <%- include('../partials/footer'); %>

</body>
</html>