<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações sobre o Evento</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/infoevento.css">
    <link rel="stylesheet" href="/css/evento.css">
    <script defer src="/js/script.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="icon" href="imagens/SportAgora.png">
    <script src="js/darkmodeswitch.js"></script>
</head>
<body>
    <%- include('../partials/navbar'); %>

 <main class="aba-evento">
    <section class="aba-evento">
        <article class="container-ver-eventos">
            <button class="botao-seta" onclick="location.href='/eventos'">
                <img src="/imagens/left-arrow.png" alt="Seta"> </button>
            <span class="ver-eventos">Ver todos os eventos</span>
        </article>

    <article class="banner-evento">
        <img src="/imagens/eventobanner.png" alt="Banner do evento">
    </article>

    <section class="info-container">
        <section class="box-esquerda">
            <h2>Sobre o Evento</h2>
            <p>A Netshoes RUN está de volta à São Paulo!
                Depois do sucesso da primeira edição e de passar por cidades como Franca, Florianópolis e Salvador, a Netshoes Run volta à São Paulo para mais um evento histórico!
                
                A quinta etapa da Netshoes Run acontece no dia 25 de Agosto de 2024, no Parque do Povo e, além dos tradicionais percursos de 5km e 10km, desta vez a prova traz também a novidade dos 15km para quem quer desafiar os seus limites.
                
                Os atletas farão o já conhecido percurso da Marginal Pinheiros que tem a altimetria perfeita para quem está iniciando ou para quem já corre e quer se desafiar para baixar seu tempo.
                
                O evento também contará com corrida infantil para diversas idades, dos 4 aos 14 anos, com a distância de acordo com a faixa etária.
                
                O evento incentiva a prática esportiva através da atividade mais democrática que existe: a corrida de rua. A Netshoes Run proporciona, de uma forma leve e descontraída o bem-estar dos consumidores resgatando ações originais da marca e consolidando a marca no mapa das corridas de rua das grandes cidades brasileiras.
                https://www.netshoes.com.br/netshoes-run</p>
            <h2>Categorias</h2>
            <p>Corridas - 5km, 10KM e 15km <br>
                Corrida Kids - 04 a 14 anos (50 a 400m)
            </p>
            <h2>Horários</h2>
            <p>(CONFIRMAR) <br>
                5km, 10KM  e 15km - 06h30minu. <br>
                Corrida infantil - A partir das 09h30min.</p>
            <h2>Valores</h2>
            <p>Kit básico <br><br>
                Promo R$ 89,90 + taxas do site <br>
                1º lote R$ 99,90 + taxas do site<br>
                2º lote R$ 119,90 + taxas do site<br>
                3º lote R$ 139,90 + taxas do site<br>
                Kit Intermediário<br><br>
                Promo R$ 109,90 + taxas do site<br>
                1º lote R$ 119,90 + taxas do site<br>
                2º lote R$ 139,90 + taxas do site<br>
                3º lote R$ 149,90 + taxas do site<br>
                Kit Premium<br><br>
                Promo R$ 199,90 + taxas do site<br>
                1º lote R$ 209,90 + taxas do site<br>
                2º lote R$ 219,90 + taxas do site<br>
                3º lote R$ 239,90 + taxas do site<br>
                Kit infantil<br><br>
                Promo 79,90 + taxas do site<br>
                1º lote R$ 89,90 + taxas do site<br>
                2º lote R$ 99,90 + taxas do site<br>
                3º lote R$ 119,90 + taxas do site<br><br>   
                *Lote Promo: 7 dias ou até esgotarem as vagas do lote</p><br>
            <h2>Kits</h2>
            <p>LOCAL:  EM BREVE <br>
                DATAS E HORÁRIOS: EM BREVE</p><br>
            <h2>Percursos</h2> 
            <a href="https://drive.google.com/file/d/1WUUxIqKCOfFxYc7uap3RMisBJlbaJuia/view"> CLIQUE AQUI</a><br><br>
            <h2>Regulamentos</h2>
            <a href="https://drive.google.com/file/d/1WUUxIqKCOfFxYc7uap3RMisBJlbaJuia/view"> CLIQUE AQUI</a><br><br>
            <h2>Dúvidas Frequentes</h2> <br>
            <p>DESCONTO PARA +60 ANOS<br><br>
                Terá o desconto de 50% sobre o valor do Kit Básico correspondente ao preço cheio do último lote de inscrição que inclui o kit (Camiseta manga curta + Sacochila + Número de peito + Meia + Medalha (pós prova)). Esse valor com desconto para o idoso não incide sobre preços promocionais. O desconto de 50% não é cumulativo. <br>
                RESULTADOS DA PROVADESCONTO PARA +60 ANOS<br><br>
                    Terá o desconto de 50% sobre o valor do Kit Básico correspondente ao preço cheio do último lote de inscrição que inclui o kit (Camiseta manga curta + Sacochila + Número de peito + Meia + Medalha (pós prova)). Esse valor com desconto para o idoso não incide sobre preços promocionais. O desconto de 50% não é cumulativo.<br>
                RESULTADOS DA PROVA<br><br>
                    Os resultados serão informados através do site oficial do evento no prazo de 48 horas após o término da corrida.<br>
                CANCELAMENTO DE INSCRIÇÃO<br><br>
                    De acordo com o código de defesa do consumidor, o atleta tem o prazo de 7 (sete) dias corridos após a data da compra para solicitar o cancelamento e estorno do valor inscrição. O valor da inscrição não será devolvido depois dessa data.<br>
                ENTREGA DE KIT APÓS O EVENTO<br><br>
                    Não serão entregues kits após o período da retirada de kits, determinado previamente pela organização.<br>
                Os resultados serão informados através do site oficial do evento no prazo de 48 horas após o término da corrida.<br>
                CANCELAMENTO DE INSCRIÇÃO<br><br>
                    De acordo com o código de defesa do consumidor, o atleta tem o prazo de 7 (sete) dias corridos após a data da compra para solicitar o cancelamento e estorno do valor inscrição. O valor da inscrição não será devolvido depois dessa data.<br>
                ENTREGA DE KIT APÓS O EVENTO<br><br>
                    Não serão entregues kits após o período da retirada de kits, determinado previamente pela organização.</p>
        </section>

        <section class="box-direita">
            <article class="evento-status gratis">Grátis</article>
            <h2 class="nome-evento">Netshoes RUN São Paulo</h2>
            <hr class="linha-separadora">
            <section class="detalhes-evento">
                <article class="data-evento">
                    <img src="/imagens/calendario.png" alt="Calendário">
                    <span>19/11/2024</span>
                </article>
                <article class="local-evento">
                    <img src="/imagens/local.png" alt="Local">
                    <span>Parque do Povo, São Paulo, SP</span>
                </article>
            </section>
            <hr class="linha-separadora">
            <p class="data-limite">Inscrições até: 20/08/2024 23:59 ou até o limite de vagas.</p>
            <article class="botoes-inscricao">
                <button class="btn-fale-conosco">Fale conosco</button>
                <button class="btn-inscrever-se" onclick="location.href='/inscrito'">Inscrever-se</button>
            </article>
        </section>
    </section>
</section>
    
    <section class="relacionado-eventos">
        <article class="relacionado-evento">
            <a href="/infoevento2" class="invisible-button1"></a>
            <img src="/imagens/bannerevento2.png" alt="Evento 1">
            <p><strong>Nome do Evento 2 </strong></p>
            <p><strong>Data do Evento 2 </strong></p>
            <p><strong>Data do Evento 2 </strong> </p>
        </article>
        <article class="relacionado-evento">
            <a href="/infoevento2" class="invisible-button1"></a>
            <img src="/imagens/bannerevento2.png" alt="Evento 2">
            <p><strong>Nome do Evento 2 </strong></p>
            <p><strong>Data do Evento 2 </strong></p>
            <p><strong>Data do Evento 2 </strong> </p>
        </article>
    </section>
</main>


<section class="mobile-fixed-bottom-bar">
    <p>Inscrições até: 20/08/2024 23:59 ou até o limite de vagas.</p>
    <button class="inscrever-btn">Inscrever-se</button>
  </section>

<%- include('../partials/footer'); %>
</body>
</html>
