<!DOCTYPE html>
<html lang="pt-br">
<head>

    <title>Sport x Náutico: onde assistir ao clássico na Copa do Nordeste</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/imagens/SportAgora.png">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/infopost.css">
    <script defer src="/js/script1.js"></script>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script defer src="/js/script.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="icon" href="imagens/SportAgora.png">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>

    <%- include('../partials/navbar'); %>

    <div class="container-ver-eventos">
      <button class="botao-seta" onclick="location.href='/eventos'">
          <img src="/imagens/left-arrow.png" alt="Seta"> </button>
      <span class="ver-eventos">Voltar para o início</span>
  </div>


    <section class="informacao-post">
        <div class="box-post">
          <h1 class="titulo-post">Sport x Náutico: onde assistir ao clássico na Copa do Nordeste</h1>
          <div class="info-post">
            <p class="detalhes-post">Danzx • 19 / 11 / 2024 • 18:30</p>
            <div class="likes">
                <img class="coracao" src="/imagens/coracao.png" alt="Coração Verde">
              <span class="num-likes">152.78 likes</span>
            </div>
          </div>
          <img class="imagem-post" src="imagens/sport.jpg" alt="Imagem do Post">
          <p class="descricao-post">
            Sport e Náutico se enfrentam nesta quarta-feira (20) na Arena de Pernambuco em partida válida pela sexta rodada da Copa do Nordeste. <br>  O Leão é o líder do Grupo A com 10 pontos, enquanto o Timbu ocupa a quarta colocação do Grupo B com cinco pontos. <br><br> <strong>Confira a seguir onde assistir Sport x Náutico ao vivo.   <br> <br> Transmissão: TV Globo e ge; </strong> <br><br>
            Na partida mais recente, o Rubro-Negro se garantiu na final do Campeonato Pernambucano após vencer o Santa Cruz nos pênaltis no jogo de volta da semifinal. <br>  No tempo normal, a partida terminou empatada sem gols. Então, na decisão por pênaltis, o Sport acertou todas as cobranças, enquanto a equipe Coral perdeu uma.<br> 
          </p>
        </div>
        <div class="box-direita">
          <div class="box-criador">
            <img class="foto-criador" src="imagens/pessoa1.jpg" alt="Foto do Criador">
            <div class="info-criador"  onclick="location.href='/perfilex'">
              <h2 class="nome-criador">Kawan Barreto</h2>
              <p class="seguidores">123.45 mil seguidores</p>
              <button class="seguir">Seguir</button>
            </div>
            <div class="posts-anteriores">
              <div class="box-mini-posts">
                <div class="mini-box">
                  <img class="imagem-mini-post" src="imagens/evento1.jpeg" alt="Post Anterior">
                  <div class="info-mini-post">
                    <p class="nome-mini-post">Campeonato de lei com os criat</p>
                    <div class="likes-mini-post">
                <img class="coracao-mini" src="/imagens/coracao.png" alt="Coração">
                      <span class="num-likes-mini">152.78 mil curtidas</span>
                    </div>
                  </div>
                </div>
                <div class="mini-box">
                    <img class="imagem-mini-post" src="imagens/evento2.jpeg" alt="Post Anterior">
                    <div class="info-mini-post">
                      <p class="nome-mini-post">Campeonato de lei com os criat</p>
                      <div class="likes-mini-post">
                  <img class="coracao-mini" src="/imagens/coracao.png" alt="Coração">
                        <span class="num-likes-mini">152.78 mil curtidas</span>
                      </div>
                    </div>
                  </div>
                  <div class="mini-box">
                    <img class="imagem-mini-post" src="imagens/evento3.jpeg" alt="Post Anterior">
                    <div class="info-mini-post">
                      <p class="nome-mini-post">Campeonato de lei com os criat</p>
                      <div class="likes-mini-post">
                  <img class="coracao-mini" src="/imagens/coracao.png" alt="Coração">
                        <span class="num-likes-mini">152.78 mil curtidas</span>
                      </div>
                    </div>
                  </div>
                <!-- Repetir mini-box 3 vezes -->
              </div>
              <button class="ver-publicacoes">Veja todas as publicações</button>
            </div>
          </div>
      
          <section class="comentarios">
            <h2 class="titulo-comentarios">Comentários</h2>
            <p class="numero-comentarios">123 comentários</p>
        <div class="form-comentario">
            <textarea class="campo-comentario" placeholder="Escreva seu comentário"></textarea>
            <button class="botao-enviar">Enviar</button>
        </div>
      
            <div class="box-comentario">
              <img class="foto-usuario" src="imagens/pessoa.png" alt="Foto do Usuário">
              <div class="info-comentario">
                <p class="nome-usuario">Pelé Narreto</p>
                <p class="texto-comentario">Palmeiras não tem mundial</p>
              </div>
            </div>
            <div class="box-comentario">
                <img class="foto-usuario" src="imagens/pessoa.png" alt="Foto do Usuário">
                <div class="info-comentario">
                  <p class="nome-usuario">Pelé Narreto</p>
                  <p class="texto-comentario">Palmeiras não tem mundial</p>
                </div>
              </div>
            <!-- Repetir box de comentário -->
          </div>
        </div>
      </section>

  <%- include('../partials/footer'); %>

</body>
</html>
