<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/imagens/SportAgora.png">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/eventos.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Informações Evento</title>

</head>

<body>

    <%- include('../partials/navbar'); %>

    <div class="main-container">
        <div class="banner2">
            <div class="evento-details">
                <h1>NETSHOES RUN SÃO PAULO</h1>
                <div class="icones">
                    <img src="/imagens/local.jpg" alt="Ícone de Data"> <span>25/08/2024</span>
                </div>
                <div class="icones">
                    <img src="/imagens/local.png" alt="Ícone de Local"> <span>Parque do Povo : São Paulo, SP, Brasil</span>
                </div>
            </div>
        </div>  
        <div class="evento-info">
            <div class="esquerda-secao">
                <h2>Sobre o Evento</h2>
                <p>A Netshoes RUN está de volta à São Paulo!

                    Depois do sucesso da primeira edição e de passar por cidades como Franca, Florianópolis e Salvador, a Netshoes Run volta à São Paulo para mais um evento histórico!
                    
                    A quinta etapa da Netshoes Run acontece no dia 25 de Agosto de 2024, no Parque do Povo e, além dos tradicionais percursos de 5km e 10km, desta vez a prova traz também a novidade dos 15km para quem quer desafiar os seus limites.
                    
                    Os atletas farão o já conhecido percurso da Marginal Pinheiros que tem a altimetria perfeita para quem está iniciando ou para quem já corre e quer se desafiar para baixar seu tempo.
                    
                    O evento também contará com corrida infantil para diversas idades, dos 4 aos 14 anos, com a distância de acordo com a faixa etária.
                    
                    O evento incentiva a prática esportiva através da atividade mais democrática que existe: a corrida de rua. A Netshoes Run proporciona, de uma forma leve e descontraída o bem-estar dos consumidores resgatando ações originais da marca e consolidando a marca no mapa das corridas de rua das grandes cidades brasileiras.

                    https://www.netshoes.com.br/netshoes-run</p>
                
                <h2>Categorias</h2>
                <p>Corridas - 5km, 10KM e 15km <br>
                    Corrida Kids - 04 a 14 anos (50 a 400m)
                </p>
                
                <h2>Horários</h2>
                <p>(CONFIRMAR) <br>
                    5km, 10KM  e 15km - 06h30minu. <br>
                    Corrida infantil - A partir das 09h30min.</p>
                
                <h2>Valores</h2>
                <p>Kit básico <br><br>
                    Promo R$ 89,90 + taxas do site <br>
                    1º lote R$ 99,90 + taxas do site<br>
                    2º lote R$ 119,90 + taxas do site<br>
                    3º lote R$ 139,90 + taxas do site<br>
                    
                    Kit Intermediário<br><br>
                    Promo R$ 109,90 + taxas do site<br>
                    1º lote R$ 119,90 + taxas do site<br>
                    2º lote R$ 139,90 + taxas do site<br>
                    3º lote R$ 149,90 + taxas do site<br>
                    
                    Kit Premium<br><br>
                    Promo R$ 199,90 + taxas do site<br>
                    1º lote R$ 209,90 + taxas do site<br>
                    2º lote R$ 219,90 + taxas do site<br>
                    3º lote R$ 239,90 + taxas do site<br>
                    
                    Kit infantil<br><br>
                    Promo 79,90 + taxas do site<br>
                    1º lote R$ 89,90 + taxas do site<br>
                    2º lote R$ 99,90 + taxas do site<br>
                    3º lote R$ 119,90 + taxas do site<br><br>
                    
                    *Lote Promo: 7 dias ou até esgotarem as vagas do lote</p>
                
                <h2>Kits</h2>
                <p>LOCAL:  EM BREVE <br>

                    DATAS E HORÁRIOS: EM BREVE</p>
                
                <h2>Percursos</h2>  <br>
                <a href="https://drive.google.com/file/d/1WUUxIqKCOfFxYc7uap3RMisBJlbaJuia/view"> CLIQUE AQUI</a>
                 
                <h2>Regulamentos</h2><br>
                <a href="https://drive.google.com/file/d/1WUUxIqKCOfFxYc7uap3RMisBJlbaJuia/view"> CLIQUE AQUI</a>
                
                <h2>Dúvidas Frequentes</h2> <br>
                <p>DESCONTO PARA +60 ANOS<br><br>
                    Terá o desconto de 50% sobre o valor do Kit Básico correspondente ao preço cheio do último lote de inscrição que inclui o kit (Camiseta manga curta + Sacochila + Número de peito + Meia + Medalha (pós prova)). Esse valor com desconto para o idoso não incide sobre preços promocionais. O desconto de 50% não é cumulativo. <br>
                    
                    RESULTADOS DA PROVADESCONTO PARA +60 ANOS<br><br>
Terá o desconto de 50% sobre o valor do Kit Básico correspondente ao preço cheio do último lote de inscrição que inclui o kit (Camiseta manga curta + Sacochila + Número de peito + Meia + Medalha (pós prova)). Esse valor com desconto para o idoso não incide sobre preços promocionais. O desconto de 50% não é cumulativo.<br>

RESULTADOS DA PROVA<br><br>
Os resultados serão informados através do site oficial do evento no prazo de 48 horas após o término da corrida.<br>

CANCELAMENTO DE INSCRIÇÃO<br><br>
De acordo com o código de defesa do consumidor, o atleta tem o prazo de 7 (sete) dias corridos após a data da compra para solicitar o cancelamento e estorno do valor inscrição. O valor da inscrição não será devolvido depois dessa data.<br>

ENTREGA DE KIT APÓS O EVENTO<br><br>
Não serão entregues kits após o período da retirada de kits, determinado previamente pela organização.<br>
                    Os resultados serão informados através do site oficial do evento no prazo de 48 horas após o término da corrida.<br>
                    
                    CANCELAMENTO DE INSCRIÇÃO<br><br>
                    De acordo com o código de defesa do consumidor, o atleta tem o prazo de 7 (sete) dias corridos após a data da compra para solicitar o cancelamento e estorno do valor inscrição. O valor da inscrição não será devolvido depois dessa data.<br>
                    
                    ENTREGA DE KIT APÓS O EVENTO<br><br>
                    Não serão entregues kits após o período da retirada de kits, determinado previamente pela organização.</p>
            </div>
            
            <div class="direita-secao">
                <div class="inscrever-info">
                    <p>Inscrições até: <strong>Inscrições até 20/08/2024 23:59 ou até o limite de vagas.</strong></p>
                    <button class="inscrever-button">Inscrever-se</button>
                    <p> <strong>Organizador </strong> <br> Sagaz Esportes</p>
                    <div class="social-icones">
                        <img src="/imagens/facebook.png" alt="Facebook">
                        <img src="/imagens/twitter.png" alt="Twitter">
                        <img src="/imagens/instagram.png" alt="Instagram">
                    </div>
                    <button class="contato-button">Fale Conosco</button>
                </div>
            </div>
        </div>
        
        <div class="relacionado-eventos">
            <div class="relacionado-evento">
                <a href="/infoevento" class="invisible-button1"></a>
                <img src="/imagens/eventobanner.png" alt="Evento 1">
                <p><strong>Nome do Evento 2 </strong></p>
                <p><strong>Data do Evento 2 </strong></p>
                <p><strong>Data do Evento 2 </strong> </p>
            </div>
            <div class="relacionado-evento">
                <a href="/infoevento" class="invisible-button1"></a>
                <img src="/imagens/eventobanner.png" alt="Evento 2">
                <p><strong>Nome do Evento 2 </strong></p>
                <p><strong>Data do Evento 2 </strong></p>
                <p><strong>Data do Evento 2 </strong> </p>
            </div>
            <div class="relacionado-evento">
                <a href="/infoevento" class="invisible-button1"></a>
                <img src="/imagens/eventobanner.png" alt="Evento 3">
                <p><strong>Nome do Evento 2 </strong></p>
                <p><strong>Data do Evento 2 </strong></p>
                <p><strong>Data do Evento 2 </strong> </p>
            </div>
        </div>
    </div>

<%- include('../partials/footer'); %>

</body>

</html>