<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natação Eventos</title>
    
    <link rel="stylesheet" href="/css/eventos.css">
    <link rel="stylesheet" href="/css/item-do-carrosel.css">
    <link rel="stylesheet" href="/css/carrosel.css">
    <script defer src="/js/carrossel.js"></script>
</head>

<body>
    <%- include('../partials/navbar'); %>


<section class="hero-section">
    <article class="hero-content">
      <h1>O seu próximo evento de <br>
        Natação está aqui
        </h1>
      <article class="underline"></article>
      <p>Confira a nossa seleção <br>
        de eventos incríveis</p>
    </article>
  </section>
  
    <!-- filtros -->

    <main class="filter-box">
        <section class="filter-item">
            <span class="filter-label">Filtrar</span>
        </section>
        <article class="separator"></article>
        <article class="filter-item">
            <span class="filter-text">Esporte</span>
            <select class="filter-select">
                <option>Futebol</option>
                <option>Basquete</option>
                <option>Vôlei</option>
            </select>
        </article>
        <article class="filter-item">
            <span class="filter-text">Estado</span>
            <select class="filter-select">
                <option>SP</option>
                <option>RJ</option>
                <option>BH</option>
            </select>
        </article>
        <article class="filter-item">
            <span class="filter-text">Cidade</span>
            <select class="filter-select">
                <option>Barueri</option>
                <option>Jandira</option>
                <option>Itapevi</option>
            </select>
        </article>
        <article class="filter-item">
            <span class="filter-text">Data do evento</span>
            <input type="date" class="filter-date">
        </article>
    </article>
</main>

<p class="event-filtros-p">Filtros rápidos</p>

    <!-- Carrosel -->

    <article class="carousel-container">
        <aside class="carousel">
            <aside class="carousel-item">
                <a href="/intem-do-carrosel">
                <img src="/imagens/corrida.png" alt="Corrida de Rua">
                <p>Corrida de Rua</p>
                </a>
            </aside>
            <aside class="carousel-item">
                <a href="/intem-do-carrosel">
                <img src="/imagens/ciclismo.png" alt="Ciclismo">
                <p>Ciclismo</p>
                </a>
            </aside>
            <aside class="carousel-item">
                <a href="/intem-do-carrosel">
                <img src="/imagens/bikemotanha.png" alt="Mountain Bike">
                <p>Mountain Bike</p>
                </a>
            </aside>
            <aside class="carousel-item">
                <a href="/intem-do-carrosel">
                <img src="/imagens/triatlo.png" alt="Triathlon">
                <p>Triathlon</p>
                </a>
            </aside>
            <aside class="carousel-item">
                <a href="/intem-do-carrosel">
                <img src="/imagens/natacao.png" alt="Natação">
                <p>Natação</p>
                </a>
            </aside>
            <aside class="carousel-item">
                <a href="/intem-do-carrosel">
                <img src="/imagens/fut.png" alt="Triathlon Brasil">
                <p>Futebol</p>
                </a>
            </aside>
            <aside class="carousel-item">
                <a href="/intem-do-carrosel">
                <img src="/imagens/volei.png" alt="Uphill">
                <p>Volei</p>
                </a>
            </aside>
            <aside class="carousel-item">
                <a href="/intem-do-carrosel">
                <img src="/imagens/trilha.png" alt="Corrida de Aventura">
                <p>Trilha</p>
                </a>
            </aside>
            <aside class="carousel-item">
                <a href="/intem-do-carrosel">
                <img src="/imagens/ping.png" alt="Uphill">
                <p>Ping pong</p>
                </a>
            </aside>
            <aside class="carousel-item">
                <a href="/intem-do-carrosel">
                <img src="/imagens/skate.png" alt="Uphill">
                <p>Skate</p>
                </a>
            </aside>
        </aside>
        <aside class="left-arrow carousel-arrow">&lt;</aside>
        <aside class="right-arrow carousel-arrow">&gt;</aside>
    </article>

<article class="carousel-title">Eventos Em Progresso</article>
<script defer src="/js/carrossel.js"></script>


<%- include('../partials/evento1'); %>

<%- include('../partials/footer'); %>

</body>