<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizador</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/organizador.css">
    <script defer src="/js/script.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="imagens/SportAgora.png">
</head>
<body>
    <header>
    <%- include('../partials/navbar'); %> 
    </header>
    <main class="main_organizador">  
        <section class="organiza">
            <article class="info_organizador">
                <h1>Solicite sua proposta</h1>
                <p>O SportAgora facilita o acesso a eventos esportivos por meio de nossa ferramenta.
                <br><br>
                Você conseguirá acompanhar em tempo real as estatísticas do seu evento.</p>
                <button class="btn_solicitacao" onclick="location.href='/home'">Fazer uma solicitação</button>
            </article>
            <article class="muie">
                <img src="imagens/mulherAd.png" alt="mulher Ad" class="molier">
            </article>
        </section>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>
