<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizador</title>
    <link rel="stylesheet" href="/css/organizador.css">
    <link rel="icon" href="imagens/SportAgora.png">
</head>
<body>
 <header>
    <%- include('../partials/navbar'); %> 
    </header> 

    <h1 class="pratique-title">ORGANIZADOR</h1>
    <p class="pratique-subtitle">Venha divulgar seu evento de forma rapída, pratiqua e segura</p>

    <main class="main_organizador">  
        <section class="organiza">
            <article class="info_organizador">
                <aside class="txtmuie1">
                    <h1>Solicite sua proposta</h1>
                    <p>O SportAgora facilita o acesso a eventos esportivos por meio de nossa ferramenta.
                    <br><br>
                    Você conseguirá acompanhar em tempo real as estatísticas do seu evento.</p>
                </aside>
                <button class="btn_solicitacao" onclick="location.href='/login'">Fazer uma solicitação</button>
            </article>
            <article class="muie">
                <aside class="txtmuie">
                    <h1>Solicite sua proposta</h1>
                    <p>O SportAgora facilita o acesso a eventos esportivos por meio de nossa ferramenta.
                    <br><br>
                    Você conseguirá acompanhar em tempo real as estatísticas do seu evento.</p>
                </aside>
                <img src="imagens/mulherAd.png" alt="mulher Ad" class="molier">
            </article>
        </section>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>
