<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento Do Evento</title>
    <link rel="stylesheet" href="/css/pagamento-evento.css">
    <script defer src="/js/validação-pagamento.js"></script>
    <link rel="icon" href="imagens/SportAgora.png">
</head>

<body>
        <%- include('../partials/navbar'); %> 

    <main>
        <section class="container">

            <section class="box-esquerda">
                <article class="box-dados">
                    <h2>1. Informações dos Participantes</h2>
                    
                    <section class="usuario-info">
                        <img src="/imagens/pessoa2.png" alt="Foto do Usuário">
                        <address>
                            <p class="nome">Danilo Cardoso</p>
                            <p class="email">ldarkrai.boss@gmail.com</p>
                        </address>
                    </section>

                    <form class="formulario">
                        <label for="telefone">Telefone:</label>
                        <input type="tel" id="telefone" required>

                        <label for="cpf">CPF:</label>
                        <input type="text" id="cpf" maxlength="14" required>

                        <label for="nascimento">Data de Nascimento:</label>
                        <input type="date" id="nascimento" required>

                        <label for="genero">Gênero:</label>
                        <select id="genero" required>
                            <option value="">Selecione</option>
                            <option value="Feminino">Feminino</option>
                            <option value="Masculino">Masculino</option>
                            <option value="NaoIdentificar">Não identificar</option>
                        </select>

                        <button id="btnProximo" type="button">Próximo</button>
                    </form>
                </article>

                <article id="pagamento" class="box-dados hidden">
                    <h2>Dados do Pagamento</h2>

                    <label for="nomeCartao">Nome impresso no cartão:</label>
                    <input type="text" id="nomeCartao" required>

                    <article class="cartao-info">
                        <input type="text" id="numeroCartao" placeholder="Número do cartão" required>
                        <input type="text" id="validadeCartao" placeholder="MM/AA" required>
                        <input type="text" id="codigoSeguranca" placeholder="CVV" required>
                    </article>

                    <button id="btnConfirmar" type="button" onclick="location.href='/inscrito'">Confirmar Pagamento</button>
                </article>
            </section>

            <aside class="box-direita">
                <section class="evento box-resumo">
                    <img src="/imagens/eventobanner.png" alt="Foto do Evento">
                    <header>
                        <h3>NETSHOES RUN | SÃO PAULO</h3>
                        <p class="subtexto">Sábado, 07 de Jun - 14:00</p>
                    </header>
                </section>

                <section class="resumo-pedido box-resumo">
                    <article class="item">
                        <span>1 Corrida 5km</span>
                        <span>R$ 150,00</span>
                    </article>
                    <p class="subtexto">(R$ 150,00 cada)</p>

                    <article class="item">
                        <span>taxa</span>
                        <span>R$ 7,50</span>
                    </article>

                    <hr>

                    <div class="total">
                        <strong>Total:</strong>
                        <strong>R$ 157,50</strong>
                    </div>
                    <p class="subtexto">(1 item)</p>
                </section>
            </aside>

        </section>
    </main>

        <%- include('../partials/footer'); %>

</body>
</html>
