<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="imagens/SportAgora.png">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <title>SPORT+</title>
    </head>
<body>
    <%- include('../partials/navbar'); %>

        <div class="container">
            <div class="hero-content">
                <div class="logo-and-text">
                    <img src="imagens/SportAgora.png" alt="Sport+" class="logo">
                    <h1>Sport+</h1>
                </div>
                <p class="preco">A partir de R$29,99/mês</p>
            </div>
            <div class="planos-section">
                <div class="plano-box basic">
                    <h2>Plano Básico</h2>
                    <ul>
                        <li>Informação 1</li>
                        <li>Informação 2</li>
                        <li>Informação 3</li>
                        <li>Informação 4</li>
                        <li>Informação 5</li>
                    </ul>
                    <p class="preco-month">R$29,99/mês</p>
                    <p class="preco-year">R$299,99/ano</p>
                    <button class="escolher-plano">Escolher plano</button>
                </div>
                <div class="plano-box recomendado">
                    <h2>Plano Recomendado</h2>
                    <ul>
                        <li>Informação 1</li>
                        <li>Informação 2</li>
                        <li>Informação 3</li>
                        <li>Informação 4</li>
                        <li>Informação 5</li>
                    </ul>
                    <p class="preco-month">R$49,99/mês</p>
                    <p class="preco-year">R$499,99/ano</p>
                    <button class="escolher-plano">Escolher plano</button>
                </div>
                <div class="plano-box intermediate">
                    <h2>Plano Intermediário</h2>
                    <ul>
                        <li>Informação 1</li>
                        <li>Informação 2</li>
                        <li>Informação 3</li>
                        <li>Informação 4</li>
                        <li>Informação 5</li>
                    </ul>
                    <p class="preco-month">R$39,99/mês</p>
                    <p class="preco-year">R$399,99/ano</p>
                    <button class="escolher-plano">Escolher plano</button>
                </div>
            </div>
        </div>

    <%- include('../partials/footer'); %>
</body>
</html>
