<!DOCTYPE html>
<html lang="pt-BR">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="imagens/SportAgora.png">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/planos.css">
    
    <script defer src="/js/script.js"></script>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>SPORT+</title>
    </head>
<body>
    <%- include('../partials/navbar'); %>
    <form class="container" action="/pagamento_selec" method="POST">
        <h1 class="pratique-title">Escolha o melhor plano para você.</h1>
        <section class="planos" id="basico">
            <input type="radio" id="sportbasico" name="plano" checked="checked" value="basico">
            <label for="sportbasico">
            <article class="plano" onclick="">
                <aside>
                <aside class="destaque">
                    <h1>Sport Básico</h1>
                </aside>
                <ul>
                    <li>Sem anúncios</li>
                    <p>_____________________________________</p>
                    <li>1 post com chance em destaque por mês</li>
                    <p>_____________________________________</p>
                </ul>
            </aside>
                <p class="preco">por apenas R$9,90 por mês</p>
            </article>
        </label>
        <input type="radio" id="sportpremium" name="plano" value="premium">
        <label for="sportpremium">
            <article class="plano" id="premium">
                <aside>
                <aside class="destaque">
                    <h1>Sport Premium</h1>
                </aside>
                <ul>
                    <li>- Sem anúncios</li>
                    <p>_____________________________________</p>
                    <li>- 5 post com chance em destaque por mês</li>
                    <p>_____________________________________</p>
                    <li>- Permissão para a criação de Equipes</li>
                    <p>_____________________________________</p>
                    <li>- Permissão para criação de Eventos</li>
                    <p>_____________________________________</p>
                    <li>- Selo premium  ✅</li>
                    <p>_____________________________________</p>
                </ul>
                </aside>
                <p class="preco">por apenas R$29,90 por mês</p>
            </article>
        </label>
        <input type="radio" id="sportplus" name="plano" value="plus">
        <label for="sportplus">
            <article class="plano" id="plus">
                <aside>
                <aside class="destaque">
                    <h1>Sport Plus</h1>
                </aside>
                <ul>
                    <li>- Sem anúncios</li>
                    <p>_____________________________________</p>
                    <li>- 3 post com chance em destaque por mês</li>
                    <p>_____________________________________</p>
                    <li>- Permissão para a criação de Equipes</li>
                    <p>_____________________________________</p>
                </ul>
                </aside>
                <p class="preco">por apenas R$19,90 por mês</p>
            </article>
        </label>
        </section>
        <button class="destaque" id="prosseguir" onclick="location.href='/pagamento'">Prosseguir</button>
    </form>
    <%- include('../partials/footer'); %>
</body>
</html>
