<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="imagens/SportAgora.png">
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/planos.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <title>SPORT+</title>
    </head>
<body>
    <%- include('../partials/navbar'); %>

        <div class="container">
            <div class="hero-content">
                <div class="logo-and-text">
                    <img src="imagens/SportAgora.png" alt="Sport+" class="logo">
                    <h1>Sport+</h1>
                </div>
                <p class="preco">A partir de R$19,99/mês</p>
            </div>
            <div class="planos-section">
                <div class="plano-box basic">
                    <h2>Sport Basico</h2>
                    <h4>Plano Gratis</h4>
                    <ul>
                        <li>- Maximo de posts por semana 3</li>
                        <li>- Sem direito a post em destaque</li>
                        <li>- Sem direito a criar equipes</li>
                        <li>- Com anuncios</li>
                    </ul>
                    <button class="escolher-plano"> Gratuito </button>
                </div>
                <div class="plano-box recomendado">
                    <h2>Sport Premium</h2>
                    <h4>Plano Recomendado</h4>
                    <ul>
                        <li>- Pode fazer posts em destaque ilimitados </li>
                        <li>- Pode criar posts ilimitados</li>
                        <li>- Pode criar equipes</li>
                        <li>- Selo Premium </li>
                        <li>- Sem anuncios</li>
                    </ul>
                    <p class="preco-month">R$19,99/mês</p>
                    <p class="preco-year">R$149,99/ano</p>
                    <button class="escolher-plano">Escolher plano</button>
                </div>
                <div class="plano-box intermediate">
                    <h2>Sport Plus</h2>
                    <h4>Plano Intermediario</h4>
                    <ul>
                        <li>- Pode fazer 5 posts em destaque</li>
                        <li>- Maximo de posts por semana 10</li>
                        <li>- Sem direito a criar equipes</li>
                        <li>- Selo Plus</li>
                        <li>- Sem anuncios</li>
                    </ul>
                    <p class="preco-month">R$9,99/mês</p>
                    <p class="preco-year">R$99,99/ano</p>
                    <button class="escolher-plano">Escolher plano</button>
                </div>
            </div>
        </div>

    <%- include('../partials/footer'); %>
</body>
</html>
