<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prática de Esportes</title>
    <link rel="stylesheet" href="/css/pratique.css">
    <script src="/js/mapa.js" defer></script>
    <link rel="icon" href="imagens/SportAgora.png">
</head>
<body>
    <%- include('../partials/navbar'); %>

        <h1 class="pratique-title">PRATIQUE</h1>
        <p class="pratique-subtitle">Não sabe como, onde e quanto praticar? Da uma pesquisa no que a SportAgora tem</p>

        <main class="filtro-container">
            <input type="text" class="input-localizacao" placeholder="Coloque seu CEP, Endereço, cidade ou estado">
            
            <section class="select-container">
                <label for="esporte">Esporte</label>
                <select id="esporte" name="esporte">
                    <option value="todos">Ver tudo</option>
                    <option value="futebol">Futebol</option>
                    <option value="basquete">Basquete</option>
                    <option value="volei">Vôlei</option>
                </select>
            </section>
            
            <section class="select-container">
                <label for="data-evento">Data do evento</label>
                <input type="date" id="data-evento" class="input-data">
            </section>
        </main>

        <!-- parte baixo -->

    <main class="container">
        <section class="locais-box">
            <h2>Locais</h2>
            <section class="cards-container">
                <section class="card">
                    <img src="imagens/clube.jpeg" alt="Ginásio Poliesportivo">
                    <article class="info">
                        <h3>Clube Esportivo</h3>
                        <p>Endereço: Rua Exemplo, 123</p>
                        <button class="botao"  onclick="location.href='https://maps.app.goo.gl/RuATqmE1DmBE4PX77'">Como chegar</button>
                    </article>
                </section>
                <section class="card">
                    <img src="/imagens/parque.jpeg" alt="Ginásio Poliesportivo">
                    <article class="info">
                        <h3>Parque Municipal</h3>
                        <p>Endereço: Rua Exemplo, 123</p>
                        <button class="botao" onclick="location.href='https://maps.app.goo.gl/7wmtczQiFZAsuCVLA'">Como chegar</button>
                    </article>
                </section>
                <section class="card">
                    <img src="/imagens/ginacio.jpg" alt="Ginásio Poliesportivo">
                    <article class="info">
                        <h3>Ginásio Poliesportivo</h3>
                        <p>Endereço: Rua Exemplo, 123</p>
                        <button class="botao" onclick="location.href='https://maps.app.goo.gl/LgyRXREg1Fvhi1g58'">Como chegar</button>
                    </article>
                </section>
                <!-- Repetição dos cartões -->
            </section>    
        </section>

        <!-- Box do Mapa -->
        <section class="map-box">
            <h2 class="map-title">Mapa dos Locais</h2>
            <article id="map" class="map"></article>
        </section>
    </main>

    <%- include('../partials/footer'); %>
    
</body>
</html>
