
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prática de Esportes em Barueri-SP</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/pratique.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="/js/mapa.js" defer></script>
</head>
<body>
    <%- include('../partials/navbar'); %>

    <main>
        <section class="container1">
            <aside class="localizacao">
                <h2>Locais</h2>
                <section class="localizacaosecao">
                    <img src="/imagens/ginacio.jpg" alt="Ginásio Poliesportivo">
                    <section class="info">
                        <h3>Ginásio Poliesportivo</h3>
                        <section class="avaliacao">
                            ★★★★☆
                        </section>
                        <p>Endereço: Rua Exemplo, 123</p>
                        <button class="directions-btn" onclick="location.href='https://maps.app.goo.gl/LgyRXREg1Fvhi1g58'"> Como Chegar</button>
                    </section>
                </section>
                <section class="localizacaosecao">
                    <img src="/imagens/parque.jpeg" alt="Parque Municipal">
                    <section class="info">
                        <h3>Parque Municipal</h3>
                        <section class="avaliacao">
                            ★★★☆☆
                        </section>
                        <p>Endereço: Avenida Exemplo, 456</p>
                        <button class="directions-btn" onclick="location.href='https://maps.app.goo.gl/7wmtczQiFZAsuCVLA'"> Como Chegar</button>
                    </section>
                </section>
                <section class="localizacaosecao">
                    <img src="/imagens/clube.jpeg" alt="Clube Esportivo">
                    <section class="info">
                        <h3>Clube Esportivo</h3>
                        <section class="avaliacao">
                            ★★★★★
                        </section>
                        <p>Endereço: Rua Exemplo, 789</p>
                        <button class="directions-btn" onclick="location.href='https://maps.app.goo.gl/RuATqmE1DmBE4PX77'"> Como Chegar</button>
                    </section>
                </section>
            </aside>

            <section class="map-container">
                <h2 class="Mapatexto">Mapa</h2>
                <section id="map"></section>
            </section>

            <section class="localizacaosecao-filtros">
                <h2><img src="/imagens/pin.png" alt="Pin Icon" class="icon"> Sua Localização</h2>
                <label class="text-pratique" for="start-localizacaosecao">Endereço de Partida:</label>
                <input type="text" id="start-localizacaosecao" placeholder="Digite seu endereço">
                
                <label class="text-pratique" for="search-distance">Distância de Busca (km):</label>
                <input type="number" id="search-distance" placeholder="Digite a distância">

                <label for="desired-sport">Esporte Desejado:</label>
                <select id="desired-sport">
                    <option value="all">Todos</option>
                    <option value="basketball">Basquete</option>
                    <option value="soccer">Futebol</option>
                    <option value="tennis">Tênis</option>
                </select>

                <label for="desired-date">Data Desejada:</label>
                <input type="date" id="desired-date">
            </aside>
        </section>
    </main>

    <%- include('../partials/footer'); %>
    
</body>
</html>
