<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prática de Esportes</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="icon" href="imagens/SportAgora.png">
    <link rel="stylesheet" href="/css/pratique.css">
    <script defer src="/js/script.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="/js/mapa.js" defer></script>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="js/darkmodeswitch.js"></script>
</head>
<body>
    <%- include('../partials/navbar'); %>

        <h1 class="pratique-title">PRATIQUE</h1>
        <p class="pratique-subtitle">Não sabe como, onde e quanto praticar? Da uma pesquisa no que a SportAgora tem</p>

        <div class="filtro-container">
            <input type="text" class="input-localizacao" placeholder="Coloque seu CEP, Endereço, cidade ou estado">
            
            <div class="select-container">
                <label for="esporte">Esporte</label>
                <select id="esporte" name="esporte">
                    <option value="todos">Ver tudo</option>
                    <option value="futebol">Futebol</option>
                    <option value="basquete">Basquete</option>
                    <option value="volei">Vôlei</option>
                </select>
            </div>
            
            <div class="select-container">
                <label for="data-evento">Data do evento</label>
                <input type="date" id="data-evento" class="input-data">
            </div>
        </div>

        <!-- parte baixo -->

        
    <div class="container">
        <div class="locais-box">
            <h2>Locais</h2>

            <div class="cards-container">
                <div class="card">
                    <img src="imagens/clube.jpeg" alt="Ginásio Poliesportivo">
                    <div class="info">
                        <h3>Ginásio Poliesportivo</h3>
                        <p>Endereço: Rua Exemplo, 123</p>
                        <button class="botao">Como chegar</button>
                    </div>
                </div>
                <div class="card">
                    <img src="imagens/clube.jpeg" alt="Ginásio Poliesportivo">
                    <div class="info">
                        <h3>Ginásio Poliesportivo</h3>
                        <p>Endereço: Rua Exemplo, 123</p>
                        <button class="botao">Como chegar</button>
                    </div>
                </div>
                <div class="card">
                    <img src="imagens/clube.jpeg" alt="Ginásio Poliesportivo">
                    <div class="info">
                        <h3>Ginásio Poliesportivo</h3>
                        <p>Endereço: Rua Exemplo, 123</p>
                        <button class="botao">Como chegar</button>
                    </div>
                </div>
                <!-- Repetição dos cartões -->
            </div>
        </div>

        <!-- Box do Mapa -->
        <div class="map-box">
            <h2 class="map-title">Mapa dos Locais</h2>
            <div id="map" class="map"></div>
        </div>
    </div>

    <%- include('../partials/footer'); %>
    
</body>
</html>
