<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Redefinir Senha</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <main>          
        <section class="container-reset-senha">
            <article class="header">
                <h1>Recuperação de Senha</h1>
                <img src="$(url)/imagens/SportAgora.png" alt="Logo" class="logo">
            </article>
            <aside class="form-reset-senha">
                <form action="" method="post">
                    <h3>Escreva seu Email para recuperação</h3>
                    <input type="email " name="email_usu" placeholder="E-mail" value="" class="" /><br>
                    <button type="submit">Enviar</button><br>
                </form>
            </aside>
        </section>
    </main>
</body>
</html>