<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Resetar Senha</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <main>             
        <section class="container-reset-senha">
            <aside class="form-reset-senha">
                <h2>Resetar senha</h2>
                <form action="" method="post">
                    <input type="hidden" name="id_usuario" value="">
                    <input type="password" name="senha_usu" placeholder="Nova senha" value="" class="" /><br>
                    <input type="password" name="csenha_usu" placeholder="Repita a senha" value="" class="" /><br>
                    <button type="submit">Entrar</button><br>
                </form>
            </aside>
        </section>
    </main>
</body>
</html>