<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Evento</title>
    <link rel="stylesheet" href="/css/organizador.css">
    <link rel="stylesheet" href="/css/sobreEvento.css">
    <link rel="icon" href="imagens/SportAgora.png">
</head>
<body>
 <header>
    <%- include('../partials/navbar'); %> 
    </header> 

    <h1 class="pratique-title">Netshoes RUN São Paulo</h1>
    <p class="pratique-subtitle">Gerencie seu evento de forma prática!</p>

    <main class="main_sobreEvento">  
        <section class="box-esquerda">
            <h2>Sobre o Evento</h2>
            
        </section>

        
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>
