<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitacao enviada</title>
</head>
<body>
    <p>Sua solicitação para <%=dados.nome%> foi enviada com sucesso!</p>
</body>
</html>