<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Ingresso</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/visualizar_ingresso.css">
    <link rel="icon" href="/imagens/SportAgora.png">
</head>
<body>
    <%- include('../partials/navbar'); %>
    <section class="container-ver-eventos">
        <button class="botao-seta" onclick="window.history.back()">
            <img src="/imagens/left-arrow.png" alt="Seta">
        </button>
        <span class="ver-eventos">Voltar</span>
    </section>
    <main class="ingresso-main">
        <section class="box-ingresso">
            <section class="infoheader">
                <h1 class="titulo-ingresso">ingresso_nome</h1>
                <a href="" class="btn-evento">Ver Evento Relacionado</a>
            </section>
            <section class="dados-ingresso">
                <h2>Detalhes e Estatísticas</h2>
                <article class="card-info">
                    <h3>Valor (Inteira)</h3>
                    <p>R$ ingresso_valor</p>
                </article>

                <article class="card-info">
                    <h3>Meia Entrada</h3>
                    <p>R$ ingresso_meia</p>
                </article>

                <article class="card-info destaque-principal">
                    <h3>Quantidade Total Disponível</h3>
                    <p>ingresso_quantidade</p>
                </article>
            
                <article class="card-info destaque-sucesso">
                    <h3>Total Vendido</h3>
                    <p>ingresso_vendido</p>
                </article>
            
                <article class="card-info">
                    <h3>Ingressos Restantes</h3>
                    <p> restante</p>
                </article>
            </section>
        </section>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>